
<div class="form-container">
    <div class='logo'>
      <img src='../../../../assets/images/logoRepo.PNG'>
      <h2 *ngIf="total$ | async; else empty">Revisar Orden</h2>
      <ng-template #empty>
        <div>
          <h3>Parece que tu carrito está vacío</h3>
          <button mat-button routerLink="/products"><h2>Date una vuelta por nuestras exquisiteces</h2></button>
        </div>
      </ng-template>
    </div>
    <mat-card *ngIf="total$ | async">
      <!-- <app-totals></app-totals> -->
      <mat-vertical-stepper linear #stepper>
          <mat-step >
              <ng-template matStepLabel>Pago</ng-template>
              <app-payment></app-payment>
              
            </mat-step>
        <mat-step >
          <ng-template matStepLabel>Pedido</ng-template>
          <app-products [items]="items$ | async" [caterings]="caterings$ | async" [customCatering]="customCatering$ | async"
          [itemsLoaded]="cuitLoaded$ | async" [itemsLoading]="cuitLoading$ | async"
          [totalGoods]="totalGoods$ | async" [totalGoodsInStore]="totalGoodsInStore$ | async"
          (next)="_onNext()" (addItem)="addItem($event)" (removeItem)="removeItem($event)"
          (addCatering)="addCatering($event)" (removeCatering)="removeCatering($event)" (removeCustomCatering)="removeCustomCatering($event)"
          >
          </app-products>
        </mat-step>
          <mat-step >
            <ng-template matStepLabel>Envío</ng-template>
            <app-delivery (next)="_onNext()" (addDelivery)="saveDelivery($event)" (removeDelivery)="clearDelivery($event)"
            (updateInstructions)="updateInstructions($event)" [deliveryAddress]="delivery$ | async"
            [deliveryLoaded]="deliveryLoaded$ | async" [deliveryLoading]="deliveryLoading$ | async" [totalWithoutDiscount]="totalWithoutDiscount$ | async"
            ></app-delivery>
          </mat-step>
          <mat-step >
              <ng-template matStepLabel>Código Promocional</ng-template>
              <app-discount [savedDiscount]="discount$ | async" [discountsLoaded]="discountsLoaded$ | async" [discountsLoading]="discountsLoading$ | async" 
              [totalInStore]="totalInStore$ | async" [totalOnline]="total$ | async" [totalWithoutDiscount]="totalWithoutDiscount$ | async"
              (next)="_onNext()" (clearDiscount)="clearDiscount()" (applyDiscount)="applyDiscount($event)" ></app-discount>
            </mat-step>
            <mat-step >
                <ng-template matStepLabel>Retiro / Entrega</ng-template>
                <app-pickup-options [options]="pickupOptions$ | async" [pickup]="pickup$ | async" 
                [total]="total$ | async" [totalWithoutDiscount]="totalWithoutDiscount$ | async"
                [deliveryAddress]="delivery$ | async"
                (selectPickup)="setPickupOption($event)"
                ></app-pickup-options>
                <app-comments (next)="_onNext()" (addComments)="addComments($event)"
                [savedComments]="comments$ | async" [commentsLoaded]="commentsLoaded$ | async" [commentsLoading]="commentsLoading$ | async"
                ></app-comments>
              </mat-step>
        <mat-step >
          <ng-template matStepLabel>Facturación Electrónica</ng-template>
          <app-invoice [savedCuit]="cuit$ | async" [cuitLoaded]="cuitLoaded$ | async" [cuitLoading]="cuitLoading$ | async"
          (next)="_onNext()" (addCuit)="addCuit($event)" (clearCuit)="clearCuit()"></app-invoice>
        </mat-step>

      </mat-vertical-stepper>
    </mat-card>
  </div>
