.form-container {
    margin: auto;
    .logo {
        text-align: center;
    }
    padding-bottom: 100px;
}
.logo {
    text-align: center;
}
mat-spinner {
    margin: auto;
}
.logo > img {
    width: 100%;
    max-width: 350px;
}
mat-card {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

mat-raised-button, mat-form-field, mat-card-footer, mat-card-content {
    margin: 10px;
}
mat-card-title {
    text-align: center;
}