<mat-card routerLink="/start">
    <!-- <app-logo-header [header]="''" (click)="close.emit()"></app-logo-header> -->
    <a routerLink="/start" (tap)="close.emit()">
        <img class="logo" src='https://farm2.staticflickr.com/1978/31026266528_02d833e53f_o.png'>
    </a>
</mat-card>
<mat-nav-list>
    <a mat-list-item (click)="close.emit()" routerLink='/products'>
        <mat-icon matListIcon [ngStyle]="{'color': 'gold'}">star</mat-icon>Productos con fotos
    </a>
    <a mat-list-item (click)="close.emit()" routerLink='/all-items'>
        <mat-icon matListIcon [ngStyle]="{'color': 'purple'}">search</mat-icon>Catálogo completo
    </a>
    <a mat-list-item (click)="close.emit()" routerLink='/catering-options'>
        <mat-icon matListIcon [ngStyle]="{'color': 'silver'}">restaurant_menu</mat-icon>
        Catering para eventos
    </a>
    <a mat-list-item (click)="close.emit()" routerLink='/new-catering'>
        <mat-icon matListIcon [ngStyle]="{'color': 'green'}">restaurant</mat-icon>
        Armá tu catering propio
    </a>
    <a mat-list-item (click)="close.emit()" routerLink='/profile'>
        <mat-icon matListIcon [ngStyle]="{'color': 'olive'}">tag_faces</mat-icon>Perfil
    </a>        
    <a mat-list-item href='https://api.whatsapp.com/send?phone=5491127778899' target="_blank">
        <img src="../../../assets/images/icons/whapp.png" class="icon">11 2777 8899
    </a>     
    <a mat-list-item href='tel:+5491149250262'>
        <img src="../../../assets/images/icons/phone.png" class="icon">4925 0262
    </a> 
    <a mat-list-item href='mailto:info@delasartes.com.ar'>
        <img src="../../../assets/images/icons/mail.png" class="icon">info@delasartes.com.ar
    </a>
    <a mat-list-item href='https://www.facebook.com/ReposteriaDeLasArtes' target="_blank">
        <img src="../../../assets/images/icons/fb.png" class="icon">fb.com/ReposteriaDeLasArtes
    </a>
    <a mat-list-item href='https://m.me/ReposteriaDeLasArtes/' target="_blank">
        <img src="../../../assets/images/icons/messenger.png" class="icon">m.me/ReposteriaDeLasArtes
    </a>
    <a mat-list-item href='https://www.instagram.com/ReposteriaDeLasArtes/' target="_blank">
        <img src="../../../assets/images/icons/insta.png" class="icon">@ReposteriaDeLasArtes
    </a>
    <a mat-list-item href='https://www.flickr.com/photos/lareposteria/' target="_blank">
        <img src="../../../assets/images/icons/flickr.png" class="icon">Más fotos en Flickr 
    </a>
</mat-nav-list>
<!-- <button mat-raised-button (click)="close.emit()" color="primary" class='closeButton'>Cerrar</button> -->