<h1>Opciones</h1>
<table>
  <tr *ngFor="let item of items$">
    <td class="description">
      <div> {{ item.displayName }} <strong>${{ item.price }}</strong>
        <small class="discount" *ngIf="item.price < item.priceInStore">
          -${{item.priceInStore - item.price}}
        </small>
      </div>
      <div><small>Porciones: {{ item.portions }} Elaboración: {{ item.preparationTime}}hs</small></div>
      <app-soonest-pickup [soonestPickup]="item.estimation"></app-soonest-pickup>
    </td>
    <td class="buyButton">
      <h3 [ngClass]="item.price < item.priceInStore ? 'green' : ''">${{ item.price }}</h3>
      <button mat-raised-button (click)="addToCart(item.productId)" color="primary" >Comprar</button>
      <div>
        <small class="priceInStore" *ngIf="item.price < item.priceInStore">
          Sucursal ${{ item.priceInStore }}
        </small>
      </div>
    </td>
  </tr>
</table>
<div>
  *Las opciones de envío y/o retiro las elegís al finalizar la compra.
</div>