<!DOCTYPE html>

<html lang="es-ar">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="zbu8hPYGxpGUfN13GzQ3gg0_2IUODpEAqGKoVzFlND0" />
    <title>La Reposteria Shop</title>

    <link href="https://fonts.googleapis.com/css?family=Kalam|Handlee|Quicksand|Sriracha|Playball|Alice|Gloria+Hallelujah|Crafty+Girls|Fredericka+the+Great|Sacramento|Satisfy|Vast+Shadow" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/glyphicons/styles/glyphicons.css" rel="stylesheet" />
    <link href="~/lib/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/lib/DataTables/media/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    
    <link href="~/lib/owl.carousel/dist/assets/owl.carousel.css" rel="stylesheet" />
    
    <link href="~/Content/timepicker.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/Shared/_Layout.css" rel="stylesheet" />
    
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/moment/moment.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
    <script src="~/lib/DataTables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/owl.carousel/dist/owl.carousel.js"></script>

    <script src="~/CommonJs/Formatting.js"></script>
    <script type="text/javascript">
        $.ajaxSetup({ cache: false });
    </script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Home" asp-action="Index">Inicio</a></li>
                    @await Component.InvokeAsync("CategoryMenu")
                    <li><a asp-controller="Photos" asp-action="Index">Fotos</a></li>
                    <li><a asp-controller="Contact" asp-action="Index">Contacto</a></li>
                    <li><a asp-controller="Calendar" asp-action="OpenHours">Horarios</a></li>
                    @await  Component.InvokeAsync("ShoppingCartSummary")
                    @if (this.User.IsInRole("Administrator"))
                    {
                        <li><a asp-controller="Admin" asp-action="Index">Admin</a></li>
                    }
                </ul>
                @await Html.PartialAsync("LoginPartial")
            </div>
        </div>
    </nav>
    <div id="body">
        @RenderBody()
    </div>
    @{
        var SocialMedia = new List<MediaViewModel>()
        {
            new MediaViewModel() { Icon = "fa-twitter", Class = "social-twitter", Ref = "#" },
            new MediaViewModel() { Icon = "fa-facebook", Class = "social-facebook", Ref = "https://www.facebook.com/ReposteriaDeLasArtes/" },
            new MediaViewModel() { Icon = "fa-instagram", Class = "social-google-plus", Ref = "#" },
            new MediaViewModel() { Icon = "fa-whatsapp", Class = "social-whatsapp", Ref = "#" }
        };
    }
    <media-footer media="@SocialMedia" ></media-footer>
    
    @RenderSection("scripts", required: false)
</body>

</html>
