@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore


@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var user = await UserManager.GetUserAsync(SignInManager.Context.User);
}

@if (SignInManager.IsSignedIn(User) && user != null)
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" id="logoutForm"
          method="post" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/Account/Profile">Hola @user.FirstName</a></li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Salir</a></li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li><a id="registerLink" asp-controller="Account" asp-action="Register">Registrarse</a></li>*@
        <li><a id="loginLink" asp-controller="Account" asp-action="Login">Ingresar</a></li>
    </ul>
}