@model DateTime

@{
    var dia = "";
    var day = Model.DayOfWeek.ToString();
    switch (day)
    {
        case "Monday":
            dia = "Lunes";
            break;
        case "Tuesday":
            dia = "Martes";
            break;
        case "Wednesday":
            dia = "Miercoles";
            break;
        case "Thursday":
            dia = "Jueves";
            break;
        case "Friday":
            dia = "Viernes";
            break;
        case "Saturday":
            dia = "Sábado";
            break;
        case "Sunday":
            dia = "Domingo";
            break;
        default:
            break;
    }

    var mes = "";
    var month = Model.Month;
    switch (month)
    {
        case 1:
            mes = "Enero";
            break;
        case 2:
            mes = "Febrero";
            break;
        case 3:
            mes = "Marzo";
            break;
        case 4:
            mes = "Abril";
            break;
        case 5:
            mes = "Mayo";
            break;
        case 6:
            mes = "Junio";
            break;
        case 7:
            mes = "Julio";
            break;
        case 8:
            mes = "Agosto";
            break;
        case 9:
            mes = "Septiembre";
            break;
        case 10:
            mes = "Octubre";
            break;
        case 11:
            mes = "Noviembre";
            break;
        case 12:
            mes = "Diciembre";
            break;
        default:
            break;
    }
}

<link href="~/Content/Shared/PickupDate.css" rel="stylesheet" />
<div id="calendarView">
    <div class="">
        <h1 class="text-center" style="font-family: Noto serif; margin-top:0px;" >Entrega</h1>
        <div class="text-center">
            <table style="width:100%;max-width:400px; margin: auto;">
                <tbody>
                    <tr>
                        <td style="width: 1%; white-space: nowrap; ">
                            <div id="pickupDate" class="text-center">
                                <div class="full-date animated bounceIn">
                                    <div class="calendar">
                                        <div class="month">@mes</div>
                                        <div class="weekday">@dia</div>
                                        <div class="day">@Model.Day</div>
                                    </div>
                                    <div class="time">
                                        @string.Format("{0:hh:mm tt}", Model)
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td style="width: auto; vertical-align: top; padding: 10px; text-align: center; ">
                            <div class="text-muted">
                                Tu pedido estará listo esta fecha <br /><br />
                                <strong style="font-size: 15px;">SI QUERÉS MODIFICAR LA FECHA, ESCRIBILO EN COMENTARIOS</strong>
                                <br />
                                <select name="state" id="hours">
                                    <optgroup label="Martes 23 de Mayo" class="text-left">
                                        <option value="0">09:00 y 12:00</option>
                                        <option value="1">16:00 y 20:00</option>
                                    </optgroup>
                                    <optgroup label="Miércoles 24 de Mayo" style="text-align: left">
                                        <option value="2">09:00 y 12:00</option>
                                        <option value="3">16:00 y 20:00</option>
                                    </optgroup>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <a class="text-muted"id="moreinfo" href="#estimation-time">¿Por qué?</a>
                            </div>
                        </td>
                        <td>
                            <div>
                                <a asp-action="OpenHours" asp-controller="Calendar" class="text-muted">Ver Horarios de Atención</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $selectize = $('select#hours').selectize({
        placeholder: "Cambiar...",
        render: {
            optgroup_header: function (item, escape) {
                return '<div style="text-align: left; margin-left: 5px; "><strong>' + escape(item.label) + '</strong></div>';
            },
            option: function (item, escape) {
                console.log(item);
                return '<div style="text-align: left; margin-left: 15px;">Entre ' + escape(item.text) + '</div>';
            },
            item: function (item, escape) {
                return '<div class="text-muted" style="text-align: left;">' +
                    //'<div>' + item.optgroup + '</div>' +
                    //'<div>Entre ' + item.text + '</div>' +
                    'Cambiar...' +
                '</div>';
            }
        }
    });
</script>



