@model Pie

<link href="~/Content/Shared/PiePriceCarouselItem.css" rel="stylesheet" />

<div class='addToCart'>
    <h3><strong>$ @Model.Price</strong></h3>
    <p class='button'>
        <a class='btn btn-primary' asp-controller='ShoppingCart' asp-action='AddToShoppingCart' asp-route-pieId='@Model.PieId'>
            Comprar <span class='glyphicon glyphicon-shopping-cart'></span> 
        </a>
    </p>
    <p>@Model.Name <strong>@Model.SizeDescription</strong></p>
</div>
