@model PieDetailViewModel

<link href="~/Content/Shared/PiePriceCarousel.css" rel="stylesheet" />

@{
    string id = Model.PieDetail.PieDetailId.ToString() + "-" + Guid.NewGuid().ToString();
}

<div class="prices" id="@id" style="display:none;">
    @{
        var pies = Model.Pies.ToArray();
        for (int i = 0; i < pies.Count(); i++)
        {
            <div class='price-carousel'>
                @Html.Partial("PiePriceCarouselItem", pies[i])
            </div>
        }
    }
</div>

<script>
    @{ var selector = "#" + id + ".prices"; }
    $('@selector').slick({
        arrows: false,
        dots: true,
        autoplay: true,
        autoplaySpeed: 2500,
        focusOnSelect: true,
        pauseOnFocus: true,
        pauseOnHover: true,
        pauseOnDotsHover: true
    });
    $('@selector').show();
</script>
