@model PieDetailViewModel


@{
    string id = Model.PieDetail.PieDetailId.ToString() + "-" + Guid.NewGuid().ToString();
}

<div class="prices hidden" id="@id" >
    @{
        var pies = Model.Pies.OrderBy(x => x.Price).ToArray();
        for (int i = 0; i < pies.Count(); i++)
        {
            <div class='price-carousel'>
                @Html.Partial("PiePriceCarouselItem", pies[i])
            </div>
            
        }
    }
</div>

<script>
    @{ var selector = "#" + id + ".prices"; }
    $('@selector').slick({
        //arrows: true,
        dots: true,
        //slidesToShow: 1,
        //centerMode: true,
        //variableWidth: true
    });
    $('@selector').removeClass('hidden');
</script>
