@model PieDetailViewModel
@inject ICatalogRepository catalog


@{
    string id = Model.PieDetail.PieDetailId.ToString() + "-" + Guid.NewGuid().ToString();
}

<div class="prices" id="@id" >
    @{
        var pies = catalog.GetByParent(Model.PieDetail.PieDetailId).ToArray();
        for (int i = 0; i < pies.Count(); i++)
        {
            <div class='price-carousel'>
                @Html.Partial("PiePriceCarouselItem", pies[i])
            </div>
        }
    }
</div>

<script>
    @{ var selector = "#" + id + ".prices"; }
    $('@selector').slick({
        dots: true
    });
</script>
