@model IEnumerable<PhotosetPhotos>


<link href="~/Content/Services/Birthdays.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="~/lib/slick-carousel/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="~/lib/slick-carousel/slick/slick-theme.css" />

@{var albumes = new List<long>()
    {
        72157663338249098,
        72157631388046352,
        72157689990349894
    };
}

<section class="container">
    <!-- Gallery -->
    <div class="row" id="localPage" >

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6" id="description">
            <h1>Test</h1>
            Tortas especiales
            1.	1 kg (+500) (10-12 personas), 1.5 kg (+1000) (13-15 personas) (Redondo)
            2.	2 kg (+1500), 2.5 kg, 3kg, 3.5kg, 4kg, 4.5kg, 5kg (Rectangular)
            Busquit
            1.	Busquite Choco (+0)
            2.	Busquite Vainilla (+0)
            3.	Galesa (Pasta de azucar negra, con nueces y blab la (+40)
            Relleno (x2)
            1.	Dulce de leche (+0) / Crema (+0) / Durazno & Crema (+0) / Chocolate (+0) / Nutella (+20)
            Cobertura
            1.	Glaceado (+0) / Choco blanco (+0) / Choco negro (+0) / Pasta de azúcar (+0)
            Terminacion
            1.	Cerezas (+0) / Frutillas (+0) / Confites (+0)
            Dedicacion
            1.	‘Feliz cumple Roberta’
            Comentarios
            1.	Quisiera agregar un ramo de flores.
            Elegir mi propia fecha
            1.	28/02/2017

        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" id="allAlbums">

        </div>
    </div>
</section>

<script>
    @foreach(var item in albumes)
    {
        <text>
            $.get("/api/PhotosData/GetAlbum/@item", function (data) {
                $("#allAlbums").append(data);
            });
        </text>
    }
</script>
