@model IEnumerable<Product>

@section metatags {
    <title>Catering</title>
}
<div class="container">
    <div class="title-container">
        <h1 class="title-logo">Catering</h1>
    </div>

    <div class="text-center">
        <h2>Sobre nuestros caterings</h2>
        <h4>Echale un vistazo a nuestros deliciosos bocaditos que podemos preparar para tu servico.</h4>
        <h4>Normalmente nosotros recomendamos entre 10 y 12 bocados por adulto.</h4>
        <h4>Acercate a nuestra sucursal, o llamanos para que te podamos asesorar con un catering súper rico y novedoso.</h4>

        @*<img src="~/Pictures/Loader.gif" id="loading" style="margin: auto;" />*@
    </div>

    <div class="container">
        <table class="" id="table">
            <thead>
                <tr>
                    <th>
                        Producto
                    </th>
                    <th>
                        Cantidad mínima (múltiplos)
                    </th>
                    <th>
                        Precio U.
                    </th>
                </tr>
            </thead>
            <tbody id="tbody">
                @{ 
                    foreach(var item in Model)
                        {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.MinOrderAmount
                        </td>
                        <td>
                            @item.Price.ToString("c")
                        </td>
                    </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    @*$.ajax({
        url: "https://lareposteria.sharepoint.com/_api/Web/Lists(guid'b10fac5f-d656-49ca-bb9a-589b9362bb94')/items?$select=Title,Precio,CantidadMinima&$filter=Categoria eq 'Lunch'&$orderby=Title asc",
        headers: { "Authorization": "Bearer " + '@Model', "Accept": "application/json;odata=verbose"}
    }).done(function (data) {

        for (var i = 0, len = data.d.results.length; i < len; i++) {
            $('#tbody').append('<tr>' +
                '<td>' + data.d.results[i].Title + '</td>' +
                '<td>' + data.d.results[i].CantidadMinima + '</td>' +
                '<td>' + data.d.results[i].Precio + '</td>' +
                '</tr>');
        }
        $('#table').DataTable({
            "language": {
                "url": "/Scripts/SpanishDatatables.json"
            },
            pageLength: 50,
            searching: false,
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": true,
            "bInfo": false,
        });
        $('#loading').addClass('hidden');
        $('#table').removeClass('hidden');
    });*@
    $('#table').DataTable({
        "language": {
            "url": "/Scripts/SpanishDatatables.json"
        },
        pageLength: 50,
        searching: false,
        "bPaginate": false,
        "bLengthChange": false,
        "bFilter": true,
        "bInfo": false,
    });
</script>