@model IEnumerable<Product>

@section metatags {
    <title>Catálogo Completo</title>
}
<div class="container">
    <div class="title-container">
        <h1 class="title-logo">Catálogo</h1>
    </div>

    <div class="text-center">
        <h4>Además de lo que vendemos por internet, en sucursal podés encontrar cualquiera de los siguientes productos.</h4>
        <h4>Si querés alguno en particular, contactate con nosotros, y lo hacemos.</h4>
        @*<img src="~/Pictures/Loader.gif" id="loading" style="margin: auto;" />*@
    </div>

    <div class="container">
        <table class="" id="table">
            <thead>
                <tr>
                    <th>
                        Producto
                    </th>
                    <th>
                        Tipo
                    </th>
                    <th>
                        Precio
                    </th>
                </tr>
            </thead>
            <tbody id="tbody">
                @{
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Category
                </td>
                <td>
                    @item.Price.ToString("c")
                </td>
            </tr>
}
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    @*$.ajax({
        url: "https://lareposteria.sharepoint.com/_api/Web/Lists(guid'b10fac5f-d656-49ca-bb9a-589b9362bb94')/items?$select=Title,Precio,Categoria,Temperatura&$filter=Categoria ne 'Lunch'&$orderby=Title asc&$top=500",
        headers: { "Authorization": "Bearer " + '@Model', "Accept": "application/json;odata=verbose"}
    }).done(function (data) {

        for (var i = 0, len = data.d.results.length; i < len; i++) {
            $('#tbody').append('<tr class="text-capitalize">' +
                '<td>' + data.d.results[i].Title + '</td>' +
                '<td>' + data.d.results[i].Categoria + '</td>' +
                '<td>' + data.d.results[i].Precio + '</td>' +
                '</tr>');
        }
        $('#table').DataTable({
            "language": {
                "url": "/Scripts/SpanishDatatables.json"
            },
            pageLength: 50,
            searching: false,
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": true,
            "bInfo": false,
            language: {
                searchPlaceholder: "Buscar..."
            }
        });
        $('#loading').addClass('hidden');
        $('#table').removeClass('hidden');
    });*@
    $('#table').DataTable({
        pageLength: 50,
        searching: false,
        "bPaginate": false,
        "bLengthChange": false,
        "bFilter": true,
        "bInfo": false,
        "language": {
            "url": "/Scripts/SpanishDatatables.json"
        }
    });
</script>