/************************/
.special-cakes {
    margin-top: -25px;
}

    .special-cakes .slick-arrow::before {
        color: #6f6f6f;
    }

    .special-cakes ul {
        list-style-type: none;
    }

    .special-cakes h2, h1 {
        text-align: center;
    }


    .special-cakes .grid {
        padding: 10px;
        padding-right: 15px;
    }

    .special-cakes .row {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .special-cakes .step {
        background-color: #e9f7cb8c;
        margin: 5px;
        padding: 10px;
        border-radius: 2px;
        width: 100%;
        font-family: 'Kalam';
    }

        .special-cakes .step h3 {
            margin-top: 5px;
            padding: 4px;
            text-align: center;
            background-color: #60ad76;
            color: white;
            font-family: 'Playball';
            -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
            -khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
            -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
        }


        .special-cakes .step p {
            margin: 1px;
            padding: 1px;
            padding-left: 2px;
            text-align: center;
        }

    .special-cakes .row div.step:hover,
    .special-cakes .row div.step:focus {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        background-color: #ecf7dc;
    }

    .special-cakes .row div.step {
        -webkit-transition: -webkit-transform 0.3s ease, border-color 0.3s ease;
        transition: transform 0.3s ease, border-color 0.3s ease
    }

#allAlbums h2 {
    display: none;
}


.contact-mail {
    font-family: 'Kalam';
    text-align: center;
}
