<form [formGroup]="discountGroup">
    <mat-form-field [ngClass]="savedDiscount ? 'hidden' : ''">
      <input matInput placeholder="Código de Descuento" 
        formControlName="discount" name="discount" #discount >
    </mat-form-field>
    <div *ngIf="savedDiscount">
      <mat-form-field >
        <mat-label>Descuento</mat-label>
        <input matInput [value]="savedDiscount.phrase" disabled>
      </mat-form-field>
      <div *ngIf="savedDiscount.percentage === 100">
        ¡Voucher ${{ savedDiscount.roof }}!
      </div>
      <div *ngIf="savedDiscount.percentage !== 100">
        ¡Descuento {{ savedDiscount.percentage }}%!
        <small> Hasta ${{ savedDiscount.roof }}</small>
      </div>
      <div class="discounted" >
        <h5 *ngIf="totalInStore && totalInStore > totalWithoutDiscount" [ngStyle]="{'color': 'red'}">
          Total en sucursal ${{ totalInStore }}
        </h5>
        <h4 *ngIf="totalWithoutDiscount" [ngStyle]="{'color': '#883636'}">
          Total online ${{ totalWithoutDiscount }}
        </h4>
        <div *ngIf="totalOnline !== totalWithoutDiscount" >
          <span class="dif">-{{ (totalWithoutDiscount - totalOnline) | currency}}</span>
        </div>
        <h3 *ngIf="totalOnline !== totalWithoutDiscount">
          ¡Total con descuento {{ totalOnline | currency }}!
        </h3>
      </div>
    </div>
</form>
  
  <mat-progress-bar *ngIf="discountsLoading" mode="indeterminate"></mat-progress-bar>

  <div class="error">
    <small *ngIf="discountGroup.controls.discount.errors?.notExists">
      Código no encontrado. <br>
    </small>
    <small *ngIf="!discountGroup.controls.discount.errors?.notExists && discountGroup.controls.discount.errors?.notActive">
      El descuento está en desuso. <br>
    </small>
    <small *ngIf="!discountGroup.controls.discount.errors?.notExists && discountGroup.controls.discount.errors?.notAvailable">
      Descuento no disponible. <br>
    </small>
    <small *ngIf="!discountGroup.controls.discount.errors?.notExists && discountGroup.controls.discount.errors?.minOrderNotReached">
      El total de tu orden no alcanza el mínimo para aplicar este descuento.
    </small>
    <small *ngIf="!discountGroup.controls.discount.errors?.notExists && discountGroup.controls.discount.errors?.notValidToday">
      El descuento no es válido hoy.<br>
    </small>
    <small *ngIf="!discountGroup.controls.discount.errors?.notExists && discountGroup.controls.discount.errors?.expired">
      El descuento ya expiró.<br>
    </small>
    <small *ngIf="!discountGroup.controls.discount.errors?.notExists && discountGroup.controls.discount.errors?.pending">
      El descuento todavía no está activo.<br>
    </small>

  </div>
  <div>
      <button mat-raised-button (tap)="clearDiscount.emit()" *ngIf="savedDiscount">Quitar Descuento</button>
      <button mat-raised-button color="primary" (tap)="onNext()" *ngIf="savedDiscount">Siguiente</button>
      <button mat-raised-button (tap)="onNext()" *ngIf="!savedDiscount">No tengo código</button>
  </div>