<form [formGroup]="discountGroup">
  <mat-form-field>
    <input matInput placeholder="Código de Descuento" 
      formControlName="discount" name="discount" #discount>
  </mat-form-field>
  <div class="error" *ngIf="discountGroup.controls.discount.errors?.notExists">
    Código no encontrado.
  </div>
  <div class="error" *ngIf="!discountGroup.controls.discount.errors?.notExists && discountGroup.controls.discount.errors?.notActive">
    El descuento está en desuso. 
  </div>
  <div class="error" *ngIf="!discountGroup.controls.discount.errors?.notExists && discountGroup.controls.discount.errors?.notAvailable">
    Descuento no disponible. 
  </div>
  <div class="error" *ngIf="!discountGroup.controls.discount.errors?.notExists && discountGroup.controls.discount.errors?.minOrderNotReached">
    El total de tu orden no alcanza el mínimo para aplicar este descuento.
  </div>
  <div class="error" *ngIf="!discountGroup.controls.discount.errors?.notExists && discountGroup.controls.discount.errors?.notValidToday">
    El descuento no es válido hoy.
  </div>
  <div class="error" *ngIf="!discountGroup.controls.discount.errors?.notExists && discountGroup.controls.discount.errors?.expired">
    El descuento ya expiró.
  </div>
  <div class="error" *ngIf="!discountGroup.controls.discount.errors?.notExists && discountGroup.controls.discount.errors?.pending">
    El descuento todavía no está activo.
  </div>
  <div>
    <button mat-raised-button color="primary" (tap)="onNext()">Siguiente</button>
  </div>
</form>