.order-detail {
    font-family: Arial;
}

.table-user-information {
    max-width: 600px;
}
textarea {
    resize: vertical;
    width: 100%
}

#successMessage {
    display: none;
    position: fixed;
    top: 60px;
    left: 40%;
}

#errorMessage {
    display: none;
    position: fixed;
    top: 60px;
    left: 40%;
}