h4, p, .incrementer {
    text-align: left;
}

.removeCustomCatering {
    text-align: left;
}
.customCatering {
    cursor: pointer;
}
.subtotal {
    text-align: center;
}
.subtotal-online {
    color: green;
}
.subtotal-store {
    color: red;
    text-decoration-line: line-through;
}
.hidden {
    display: none;
}