<mat-list>
  <mat-list-item *ngFor="let item of items">
    <h4 mat-line color="primary">{{item.amount}}x {{item.product.displayName}} ({{item.product.preparationTime}} hs)</h4>
    <p mat-line> {{item.product.displayDescription}} </p>
    <app-product-subtotal  mat-line [amount]="item.amount" [priceInStore]="item.product.priceInStore" [price]="item.product.price">
    </app-product-subtotal>
    <div mat-line class="incrementer">
      <span>Cantidad: </span>
      <button mat-icon-button color="primary" (tap)="removeItemFromCart(item.product.productId)"><i class="material-icons">arrow_left</i></button>
      <span>{{item.amount}}</span>
      <button mat-icon-button color="primary" (tap)="addItemToCart(item.product.productId)"><i class="material-icons">arrow_right</i></button>
    </div>
  </mat-list-item>
  <mat-list-item *ngFor="let catering of caterings">
    <h4 class='customCatering' mat-line color="primary" routerLink="/catering-options">{{catering.amount}}x {{catering.title}} ({{catering.preparationTime}} hs)</h4>
    <p mat-line> {{catering.description}} </p>
    <app-product-subtotal  mat-line [amount]="catering.amount" [priceInStore]="catering.priceInStore" [price]="catering.price">
    </app-product-subtotal>
    <div mat-line class="incrementer">
      <span>Cantidad: </span>
      <button mat-icon-button color="primary" (tap)="removeCateringFromCart(catering.lunchId)"><i class="material-icons">arrow_left</i></button>
      <span>{{catering.amount}}</span>
      <button mat-icon-button color="primary" (tap)="addCateringToCart(catering.lunchId)"><i class="material-icons">arrow_right</i></button>
    </div>
  </mat-list-item>  
  <mat-list-item *ngIf="customCatering && customCatering.items && customCatering.items.length">
    <h4 mat-line class="customCatering" color="primary" routerLink="/new-catering" >1x Catering Personalizado ({{customCatering.preparationTime}} hs)</h4>
    <app-product-subtotal  mat-line [amount]="1" [priceInStore]="customCateringPriceInStore()" [price]="customCateringPrice()">
    </app-product-subtotal>
    <div mat-line class="removeCustomCatering">
      <button mat-button color="primary" (tap)="removeCustomCateringFromCart()">Quitar</button>
    </div>
  </mat-list-item>
</mat-list>
<div class="subtotal">
  <h3 [ngClass]="totalGoods < totalGoodsInStore ? 'subtotal-online' : ''">Total a pagar: ${{ totalsLoading ? '...' : totalGoods }}</h3>
  <div class="subtotal-store" *ngIf="totalGoods < totalGoodsInStore" >Sucursal: ${{ totalsLoading ? '...' : totalGoodsInStore }}</div>
</div>
<button mat-raised-button color="primary" (tap)="continue()">Continuar</button>