@model PieDetailCreateViewModel



<script src="~/CommonJs/summernote.js"></script>


@section styles {
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
}

<div class="container create-pie-detail">
    <h2>Registrar producto nuevo</h2>
    <form asp-controller="PieDetail" asp-action="Create" method="post" class="form-horizontal" role="form">
        <h4>Crear un nuevo producto</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ShortDescription" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ShortDescription" class="form-control" />
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PreparationTime" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PreparationTime" class="form-control" value="24" />
                <span asp-validation-for="PreparationTime" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="LongDescription" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="LongDescription" id="textarea-desc" class="form-control"></textarea>
                <span asp-validation-for="LongDescription" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="FlickrAlbumId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="FlickrAlbumId" class="form-control" asp-items="@Model.Albumes"></select>
                <span asp-validation-for="FlickrAlbumId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="IsActive" class="col-md-2 control-label"></label>
            <div class="col-md-1">
                <input asp-for="IsActive" class="form-control" />
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="IsPieOfTheWeek" class="col-md-2 control-label"></label>
            <div class="col-md-1">
                <input asp-for="IsPieOfTheWeek" class="form-control" />
                <span asp-validation-for="IsPieOfTheWeek" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-primary" value="Guardar" />
            </div>
        </div>
    </form>
</div>
<script>
    $(document).ready(function () {
        $('#textarea-desc').summernote();
    });
</script>