@model PieDetailsListViewModel
@section metatags {
    <title>Catálogo</title>
}
<style>
    h2 {
        margin-top: -5px;
        margin-bottom: 25px;
        text-align: center;
    }
</style>




<div class="container" id="container">
    <div class="row">
        <div class="title-container">
            <h1 id="category-title" class="title-logo">Productos</h1>
        </div>
    </div>
    <div id="products" class="">
    @{
        var array = Model.PieDetails.ToArray();
        for (int i = 0; i < array.Length; i++)
        {
            @await Html.PartialAsync("PieOverviewSummary", array[i])
        }
    }
    </div>
</div>

<div class="" style="max-width: 800px; min-height: 800px; margin: auto">
    @await Html.PartialAsync("~/Views/PieDetail/Catalog.cshtml", Model.CatalogProducts)
</div>


<script type="text/javascript">
    $(function () {
        $('.carousel').carousel({
            interval: 2000
        });
    });

    function getParameterByName(name) {
        var regexS = "[\\?&]" + name + "=([^&#]*)",
            regex = new RegExp(regexS),
            results = regex.exec(window.location.search);
        if (results == null) {
            return "";
        } else {
            return decodeURIComponent(results[1].replace(/\+/g, " "));
        }
    }

    var category = getParameterByName("category");

    if (category)
        $('#category-title').replaceWith(category);


    //$('.pieOverviewImage').matchHeight();

</script>