@model PieDetailsListViewModel
@section metatags {
    <title>Catálogo</title>
}
<style>
    h2 {
        margin-top: -5px;
        margin-bottom: 25px;
        text-align: center;
    }
</style>


<link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<div class="container" id="container">
    <div class="title-container">
        <h1 id="category-title" class="title-logo" />
    </div>
    <div id="products" class="">
        @foreach (var partialView in Model.PieDetails)
        {
            @Html.Partial("PieOverviewSummary", partialView)
        }
    </div>
</div>

<div class="" style="max-width: 800px; min-height: 800px; margin: auto">
    @Html.Partial("~/Views/PieDetail/Catalog.cshtml", Model.CatalogProducts)
</div>

@*<div class="container text-center">
        <h3><a asp-action="FullCatalog" asp-controller="Services" style="color:black">Ver catálogo completo</a></h3>
    </div>*@

<script type="text/javascript">
    $(function () {
        $('.carousel').carousel({
            interval: 2000
        });
    });

    function getParameterByName(name) {
        var regexS = "[\\?&]" + name + "=([^&#]*)",
            regex = new RegExp(regexS),
            results = regex.exec(window.location.search);
        if (results == null) {
            return "";
        } else {
            return decodeURIComponent(results[1].replace(/\+/g, " "));
        }
    }

    var category = getParameterByName("category");

    if (category)
        $('#category-title').append(category);
    else
        $('#category-title').append("Productos");

    //$('.pieOverviewImage').matchHeight();

</script>