<div *ngIf="pickup">
  <div class='confirmation'>Pedido listo para ser {{ deliveryAddress && deliveryAddress.deliveryCost ? 'enviado ' : 'retirado ' }}<strong>{{ readyFor() }}</strong></div>
</div>
<mat-form-field>
  <mat-select placeholder="Cambiar fecha y hora">
    <mat-optgroup *ngFor="let option of options" [label]="option.day" >
      <mat-option *ngFor="let dayoption of option.dayOptions" [value]="dayoption.ticksId" (click)="selectPickup.emit(dayoption.ticksId)">
        Entre {{ dayoption.from | date:'shortTime' }} y {{ dayoption.to | date:'shortTime' }}
      </mat-option>
    </mat-optgroup>
  </mat-select>
</mat-form-field>
<div *ngIf="hasDiscount">
    <small *ngIf="optionsCount === 0">
      El descuento que utilizaste no te permite cambiar la fecha de retiro / entrega.
    </small>
    <small *ngIf="optionsCount === 1">
      La opción de retiro / entrega está sujeta al descuento que aplicaste.
    </small>
    <small *ngIf="optionsCount > 1">
      Las opciones de retiro / entrega están sujetas al descuento que aplicaste.
    </small>
</div>
