.header h1 {
    text-align: center;
    margin-bottom: -20px;
}

.thumbnailDetail {
    padding: 10px;
    background-color: #dbe9d8;
    max-width: 900px;
    margin: 10px auto;
    border-radius: 20px;
}

    .thumbnailDetail h1 {
    }

.short-Desc {
    padding: 20px;
    background-color: #dbe9d8;
    max-width: 900px;
    margin: 30px auto;
    text-align: center;
}

h2 {
    font-family: 'Playball'
}



img.main {
    width: 100%;
}

@media screen and (max-width: 400px) {
    img.nav {
        /*width: 40px;*/
        padding: 5px;
    }
}

@media screen and (max-width: 600px) {
    img.nav {
        /*width: 60px;*/
        padding: 5px;
    }
}

@media screen and (min-width: 600px) {
    img.nav {
        /*width: 80px;*/
        padding: 10px;
    }
}

div.row p {
    padding-right: 10px;
    padding-left: 10px;
}

.thumbnailDetail .caption-full {
    padding: 9px;
    color: #333;
}

#description {
    margin: 10px;
}

    #description h4 {
        text-align: center;
    }
/***************************************/
