.content {
    margin: auto;
    text-align: center;  
    color: #4d9c46;  
}
    .discount
        .price {
            font-size: large;
        }
        .priceInStore {
            text-align: center;
            color: red;
            text-decoration-line: line-through;
        }