.form-container {
    margin: auto;
}

mat-card {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

mat-raised-button, mat-form-field, mat-card-footer, mat-card-content {
    margin: 10px;
}
mat-card-title {
    text-align: center;
}

input {
    border: none;
}

@media (max-width: 600px) {
    button {
        font-size:1em;
    }
}