<mat-card class="card" (window:resize)="onResize()" [ngStyle]="{'width.px': cardWidth}">
  <div class='content'>

    <table>
      <tbody>
        <tr>
          <td class="arrow">
            <button mat-icon-button  (click)="prev.emit()">
              <mat-icon >keyboard_arrow_left</mat-icon>
            </button>
          </td>
          <td>
              <div class="header">
                  <h3 class="suggested" *ngIf="catering.isGeneric">
                    ¡Recomendado!
                  </h3>
                  <p class="customerCall" *ngIf="!catering.isGeneric">
                    Elegido por nuestros clientes
                  </p>
                  <p>{{ catering.title }}</p>
                  <p>{{ catering.description }}</p>
                </div>            
          </td>
          <td class="arrow">
            <button mat-icon-button  (click)="next.emit()">
              <mat-icon >keyboard_arrow_right</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <mat-card-content>
      <div class="item" *ngFor="let item of catering.items">
        {{ item.itemCount }} {{ item.item.displayName }}
      </div>
    </mat-card-content>
    
    <app-total [price]="catering.price" [priceInStore]="catering.priceInStore"></app-total>  

    <mat-card-actions>
      <div></div>
      <!-- <button mat-mini-fab  (click)="addCatering.emit(catering.lunchId)" >
        <mat-icon >add_shopping_cart</mat-icon>
      </button> -->
      <button mat-raised-button color="primary" (click)="addCatering.emit(catering.lunchId)">
        <mat-icon aria-label="">add_shopping_cart</mat-icon>
        <small>Agregar al carrito</small>
      </button>
      <!-- <button mat-raised-button color="primary" (click)="addCatering.emit(catering.lunchId)">Comprar</button> -->
      <button mat-raised-button (click)="copyCatering.emit(catering.lunchId)">
        <mat-icon aria-label="Example icon-button with a heart icon">build</mat-icon>
        Modificar
      </button>
    </mat-card-actions>
    <app-soonest-pickup [soonestPickup]="soonestPickup(catering.estimation)"></app-soonest-pickup>
    <div class="footer">
      <p *ngIf="catering.attendants && catering.eventDuration">
        Sugerido para hasta {{ catering.attendants }} comensales, considerando unas {{ catering.eventDuration }} horas de evento
      </p>
    </div>
  </div>
</mat-card>