mat-card {
  margin: 20px;
  width: 350px;
  text-align: center;
  padding: 0px;

  div.content {
    padding: 5px;
    div.header {
      width: 100%;
      margin: auto;  
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: #B44848;
      color: papayawhip;
      h3 {
        margin-top: 0px;
      }
      h3.suggested {
        color: goldenrod;
      }
      p.customerCall {
        background-color: papayawhip;
        border-radius: 5px;
        color: black;
        margin-left: 20px;
        margin-right: 20px;
      }
      p {
        margin-top: 0px;
      }
    }

    mat-card-content {
      padding: 20px;
      div.item {
        padding: 5px;
      }
    }
    mat-card-actions {
      padding: 20px;
      padding-bottom: 10px;
      margin-bottom: 0;
    }
    div.footer {
      width: 100%;
      margin: auto;  
      margin-top: 20px;  
      padding-top: 20px;
      padding-bottom: 20px;
      background-color: #B44848;
      color: papayawhip;
    }
  }
}