.example-card {
  max-width: 400px;
  margin: 5px 5px auto;
  display: inline-block;
}
mat-card-content {
  height: 400px;
}

  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }