<mat-card class="card">
  <h3>{{ catering.title }}</h3>
  <div class='content'>
    <mat-card-header>
      <div mat-card-avatar *ngIf="catering.thumbnailUrl">
        <img src="{{catering.thumbnailUrl}}">
      </div>
      <mat-card-title>{{ catering.title }}</mat-card-title>
      <mat-card-subtitle>{{ catering.description }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-nav-list>
        <a mat-list-item *ngFor="let item of catering.items">
          <small>
            {{ item.itemCount }} {{ item.item.displayName }}
          </small>
        </a>
      </mat-nav-list>
      <mat-card-actions>
        <button mat-raised-button color="primary">LIKE</button>
        <button mat-raised-button color="primary">SHARE</button>
      </mat-card-actions>
    </mat-card-content>
  </div>
</mat-card>