.prices {
    font-family: Arial;
}

    .prices td {
        padding-left: 5px;
        padding-right: 5px;
    }
    .prices th {
        text-align: center;
    }

    .prices #percentage {
        width: 150px;
    }
