.container {
    max-width: 600px;
    margin: auto;

    .table {
        margin: auto;
        margin-bottom: 25px;
        table {
            width: 100%;
            tr {
                td, th {
                    margin: auto;
                    vertical-align: middle;
                    text-align: center;
                    padding: 5px 5px;
                }
            }
        }
    }
}