@model PasswordChangeViewModel

<div class="container">
    <h2>Modificar contraseña</h2>
    <form asp-controller="Account" asp-action="ChangePassword" method="post" class="form-horizontal" role="form">
        <hr />
        <span class="text-danger">
            @Model.ErrorMsg
        </span>
        <div class="form-group">
            <label asp-for="Current" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Current" class="form-control" />
                <span asp-validation-for="Current" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="New" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="New" class="form-control" />
                <span asp-validation-for="New" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NewRepeated" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NewRepeated" class="form-control" />
                <span asp-validation-for="NewRepeated" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-primary" value="Guardar" />
                <a class="btn btn-default" asp-action="Profile" asp-controller="Account">Cancelar</a>
            </div>
        </div>
    </form>
</div>
