@model RegisterProviderWithMailViewModel

<style>
    div#emailbox{
        max-width: 400px;
        margin: 100px auto;
        text-align: center;
    }
</style>
<div id="emailbox" class="hidden">
    <h3>Por favor, confirmanos una dirección de email para que puedas registrarte.</h3>
    <form asp-controller="Account" asp-action="RegisterProviderWithMail" method="post" role="form" id="registrationForm">
        <input asp-for="UserName" hidden="hidden" />
        <input asp-for="FacebookNameIdentifier" hidden="hidden" id="facebookId"/>
        <input asp-for="GoogleNameIdentifier" hidden="hidden" id="googleId"/>
        <input asp-for="EmailConfirmed" hidden="hidden" id="emailconfirmed" />
        <input asp-for="FirstName" hidden="hidden" />
        <input asp-for="LastName" hidden="hidden" />
        <input asp-for="AddressLine1" hidden="hidden" />
        <input asp-for="State" hidden="hidden" />
        <input asp-for="ZipCode" hidden="hidden" />
        <input asp-for="Country" hidden="hidden" />
        <input asp-for="Gender" hidden="hidden" />
        <input asp-for="PhoneNumber" hidden="hidden" />
        <input asp-for="DateOfBirth" hidden="hidden" />
        <div class=" form-group">
            <div class="">
                <input asp-for="Email" class="form-control" id="email" />
                <span asp-validation-for="Email" class="text-danger hidden"></span>
                <div asp-validation-summary="All" class="text-danger hidden" id="allErrors"></div>
                @{
                if (Model.Errors != null)
                {
                    <div class="text-danger">
                        @Html.Raw(String.Join("<br/>", Model.Errors))
                    </div>
            }
                }
            </div>
        </div>
        <div class="form-group">
            <br />
            <div class="">
                <input type="submit" class="btn btn-primary" value="Registrarse" />
            </div>
        </div>
    </form>
</div>
<script>
    $(document).ready(function () {
        var errors = false;
        var nameIdentifier = $('input#facebookId').val() || $('input#googleId').val() ;
        @{
            if(Model.Errors != null && Model.Errors.Count > 0)
            {
                <text>
                    errors = true;
                </text>
            }
        }

        if ($('div#allErrors').val() || errors || (!nameIdentifier && !$('input#email').val())) {
            $('div#emailbox').removeClass('hidden');
        }
        else {
            document.getElementById("registrationForm").submit();
        }
    });

</script>