@model ResetPasswordViewModel

<style>
    section#emailContainer {
        text-align: center;
        max-width: 350px;
        margin: 10px auto;
    }
    table {
        width: 100%;
    }
</style>
<br />
<section class="container" id="emailContainer">

    <h2>Reestablecer contraseña</h2>
    <br />
    <form asp-controller="Account" asp-action="ResetPassword" method="post" role="form">
        <table>
            <tr>
                <td>
                    <label asp-for="Email" class="control-label"></label>
                </td>
                <td>
                    <input asp-for="Email" class="form-control" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <div asp-validation-summary="All" class="text-danger"></div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label class="text-info">Te vamos a mandar un mail a esta cuenta.</label>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <hr>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <input type="submit" class="btn btn-primary" value="Reestablecer" />
                </td>
            </tr>
        </table>
    </form>
</section>
