

<div >
  <div *ngFor="let item of items">
    <small>{{ item.amount > 1 ? item.amount + ' ' : '' }}  {{ item.item.displayName }}</small>
  </div>
  <div *ngFor="let item of caterings">
    <small>{{ item.amount > 1 ? item.amount + ' ' : '' }}  {{ item.catering.title ? item.catering.title : 'Catering personalizado' }}</small>
  </div>
  <div *ngFor="let item of pies">
    <small>{{ item.amount > 1 ? item.amount + ' ' : '' }}  {{ item.title }}</small>
  </div>
  <div>
    <mat-chip-list *ngIf='!orderReady && !orderPickedUp'>
      <mat-chip (click)='notifyAndHide()' [ngClass]="hideNoty ? 'hidden' : ''">
        <small>Pedido listo</small>
      </mat-chip>
    </mat-chip-list>
  </div>
  <div *ngIf="orderReady && !orderPickedUp" [ngClass]="hideArch ? 'hidden' : ''">
    <mat-chip-list>
      <mat-chip (click)='saveAndHide()' selected>
        <small>Guardar</small>
      </mat-chip>
    </mat-chip-list>
  </div>
</div>