<app-loading-blocker [saving]="saving$ | async"></app-loading-blocker>
<app-title [title]="'Catering'"></app-title>
<div class="container">
  <mat-card>
    <p>Catering personalizado</p>
    <div *ngIf="items$ | async as items" >
      <div *ngIf="items.length; else loading">
        <app-custom-catering-item [items]="selectedItems$ | async" (Decrement)="removeItem($event)" (Increment)="addItem($event)" ></app-custom-catering-item>
        <app-autocomplete-items [items]='items' (addItem)="addItem($event)" ></app-autocomplete-items>
        <app-total [price]="price$ | async" [priceInStore]="priceInStore$ | async"></app-total>
        <div>
          <button mat-raised-button color="primary" (click)="saving.next(true)">Guardar</button>
        </div>
        <div *ngIf="selectedItems$ | async as selctedItems">
          <div *ngIf="selctedItems.length">
            <br>
            <app-soonest-pickup [soonestPickup]="preparationTime$ | async"></app-soonest-pickup>
          </div>
        </div>
      </div>
    </div>
    <ng-template #loading>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      <small>¡Por favor espera mientras preparamos todo!</small>
    </ng-template>
    <div *ngIf="saving$ | async as saving">
      <div *ngIf="saving">
        <br>
        <small>Guardando...</small>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
    </div>
  </mat-card> 
</div>