<div id="email-template">
    <div style="max-width: 750px;margin: auto;">
        <div style="text-align:center; font-family: Tahoma; ">
            <section style='padding: 20px; width:90%; min-width:300px; '>
                <div style=" background-color: #883636; color: papayawhip; border-top-left-radius: 10px;border-top-right-radius: 10px;" id="head">
                    <br />
                    <a href="http://delasartes.com.ar" target="_blank" style="text-decoration: none; ">
                        <div style="padding-left: 20px; padding-right: 20px;">
                            <img src="http://delasartes.com.ar/Pictures/LogoRepo.png" width="250" style="max-width: 100%; max-height: 100%;" />
                        </div>
                    </a>
                    <div id="email-title" style="font-size: 25px; padding-bottom: 10px;"></div>
                </div>

                <div style=" background-color: papayawhip; ">
                    <div style="width: 90%; margin: auto;" id="body">
                        <br />
                        <div id="email-subtitle" style="padding-bottom: 10px;"></div>
                        <div style="margin: auto;">

                            <div id="main-picture" style="">
                            </div>
                        </div>
                        <br />
                        <div id="rich-body">

                        </div>
                        <br />
                    </div>
                </div>
                <div style=" background-color: #883636; color: papayawhip; text-align:left; border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;" id="foot">
                    <div style="text-align: center;">
                        <br />
                        <a href='http://delasartes.com.ar' target="_blank" style="color: papayawhip">http://delasartes.com.ar</a>
                    </div>
                    <div id="email-foot" style="padding: 10px; text-align: center; font-size: 10px;">

                    </div>
                    <br />
                </div>
                <div style="text-align:center;">
                    <div style="text-align: center; font-size: 10px;">
                        <span>Si deseas desuscribirte de las promociones, cliqueá</span><span>
                            <a href='http://delasartes.com.ar/Marketing/Unsubscribe/#emailunsubscribe#' target="_blank">aquí</a>
                        </span>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>