@model String

<div class="container text-center" style="max-width: 600px;">
    <div>
        <h2>Lamentamos que no quieras recibir nuestras promos.</h2>
    </div>
    <div style="margin-top: 20px;">
        <div class="alert alert-success" style="width: 90%;">
            La cuenta @Model ya no está incluída en nuestra lista de distribución. ¡Gracias por tu visita!
        </div>
    </div>

</div>