<app-logo-header [header]="'Configurar contraseña'"></app-logo-header>
<div class="form-container">
  <mat-card>
    
    <mat-card-header>
      <a routerLink="/login">Volver</a>
    </mat-card-header>

    <mat-card-content >
      <!-- <mat-card-title *ngIf="!user">
        Reestablecer Contraseña
      </mat-card-title> -->
      <mat-vertical-stepper linear #stepper>
        <div *ngIf="!user">
          <mat-step [stepControl]="emailGroup" editable="false">
            <ng-template matStepLabel>Recuperar clave</ng-template>
            <form [formGroup]="emailGroup">
              <mat-form-field>
                <mat-label>Correo electrónico</mat-label>
                <input matInput type="email" formControlName="email" />
              </mat-form-field>
              <button mat-raised-button matStepperNext color="primary" [disabled]="!emailGroup.valid">Recuperar</button>
              <mat-card-content *ngIf='emailNotFound'>
                El mail que ingresaste no se encuentra registrado en el sitio.
              </mat-card-content>
            </form>
          </mat-step>
          <mat-step [stepControl]="confirmEmailGroup">
            <ng-template matStepLabel>Confirmación de correo</ng-template>
            <form [formGroup]="confirmEmailGroup">
              <mat-card-content *ngIf='!emailCodeSent && emailCodeSubmitted'>
                Enviando código...
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </mat-card-content>
              <mat-card-content *ngIf='emailCodeSent'>
                Por favor revisa tu correo e ingresa el código que te enviamos.
                <mat-form-field>
                  <input matInput type="number" step="1" min="1000" max="9999" placeholder="Código de Validación" formControlName="emailCode" required>
                </mat-form-field>
              </mat-card-content>
            </form>
          </mat-step>
        </div>
      </mat-vertical-stepper>
    </mat-card-content>
    <mat-card-content *ngIf="user" [@moveInLeft]="state">
      <form [formGroup]="newPasswordGroup" class="newPassword">
        <mat-card-title>
          Elegir nueva contraseña
        </mat-card-title>
        <mat-form-field>
          <input matInput placeholder="Contraseña" [type]="hide ? 'password' : 'text'" formControlName="newPass" name="password" required>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
        <div>
          <button mat-raised-button color="primary" [disabled]="!newPasswordGroup.valid" (click)="savePassword()">Guardar</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>