.cuitTitle {
    color: green;
}

.buttom-bottons {
    text-align: left;
}

button {
    margin: 10px;
}
.input {
    width: 100%;
    mat-progress-bar, mat-form-field {
        width: 60%;
        margin: auto;
    }
}
.hidden {
    display: none;
}