<h2 mat-dialog-title>Nuevos horarios de atencion al publico</h2>

<mat-dialog-content style="font-family: Noto Serif">
  <p>
    Hola! Nuevos horarios y modalidad de trabajo renovada.
  </p>
  <ul>
    <li>
      Martes a Viernes de 8.30hs a 18.00hs, Sabados de 8.30hs a 14.00hs, Domingos y Lunes estaremos cerrados.
    </li>
    <li>
      Nuestra producción estará enfocada en compras y reservas con antelación. Por favor, hacé tu pedido con tiempo por cualquiera de nuestras redes.
    </li>
  </ul>
  
  <div>
    <p>
      Con mucho cariño,
    <br>
      De las Artes
    </p>
  </div>
 
</mat-dialog-content>

<mat-dialog-actions>
    <div style="display: grid; grid-template-columns: auto auto; gap: 10px; width: 100%;">
      <button tabindex="1" style="margin-right: auto;" mat-button color="primary" (click)="close()">Entendido</button>
      <a tabindex="2" href='https://api.whatsapp.com/send?phone=5491127778899' target="_blank" style="display: flex; align-items: center; color: black; margin-left: auto;">
        <img src="../../../assets/images/icons/whapp.png" style="width:25px; height: 25px; margin-right: 10px;" class="icon">11 2777 8899
      </a>  
    </div>
</mat-dialog-actions>