<mat-form-field class="example-full-width">
  <input matInput placeholder="Elegir productos..." aria-label="Item" [matAutocomplete]="auto" [formControl]="itemCtrl"> 
  <mat-autocomplete #auto="matAutocomplete" showPanel="true" [disableRipple]="false" (optionSelected)="optionSelected()" >
    <mat-option *ngFor="let item of filteredProducts | async" [value]="item.displayName" (click)="_onSelect(item)"  >
      <!-- <img class="example-option-img" aria-hidden [src]="state.flag" height="25"> -->
      <small>
        <span><strong>{{item.displayName}} ${{ item.price * item.minOrderAmount}}</strong></span>
        <span *ngIf="item.minOrderAmount > 1" >
          ({{item.minOrderAmount === 12 ? 'docena' : 'x' + item.minOrderAmount}})
        </span>
        <span class="description"> | {{item.displayDescription}}</span>
        <br />
        <span>Precio Unitario: <span class="price"><strong>${{item.price}}</strong> </span></span>
        <span class='storePrice' *ngIf="item.price < item.priceInStore">(${{item.priceInStore}})</span>
        <span *ngIf="item.portions !== 1"> | Porciones: {{item.portions}}</span>
      </small>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>