td.quantity a {
    text-decoration: none;
}

span.fa-caret-right {
    padding-left: 10px;
}

span.fa-caret-left {
    padding-right: 10px;
}

div.container.shopping-cart {
    margin-top: -25px;
}

#MP-Checkout-dialog {
    border: none !important;
    /*max-height: 650px !important;*/
}

#MP-Checkout-IFrame {
    /*max-height: 650px !important;
    */
}

.remove-item {
    color: darkred;
}

tfoot td {
    vertical-align: middle;
}

textarea {
    resize: vertical;
}



textarea {
    margin-top: 5px;
    height: 138px !important;
}

#estimation-time {
    padding: 25px;
    padding-top: 5px;
    margin-bottom: 25px;
}
