@model ShoppingCartViewModel

<div class="col-md-2 col-lg-2 col-sm-3">

    <div class="text-center">
        <label class="" style="">Orden lista</label>
        <br />
        <div id="pickupDate" class="text-center">
            @Html.Partial("~/Views/Shared/PickupDate.cshtml", Model.PickupDate)
        </div>
        <div>
            <label class="control-label ">¿Por qué? <a id="moreinfo" href="#estimation-time"><span class="fa fa-question-circle"></span></a></label>
        </div>
        <div>
            <label class="control-label "></label>
        </div>
    </div>

</div>

<div class="col-md-10 col-lg-10 col-sm-9">
    <div style="margin-left: 7px;margin-right: 7px; text-align:left;">
        <div><strong>Comentarios</strong> </div>
        <div>Si querés tu orden para una fecha posterior, o simplemente querés decirnos algo, dejanos escrito acá abajo. <strong><a class="text-muted" asp-action="OpenHours" asp-controller="Calendar">Ver Horarios.</a></strong></div>
        <textarea maxlength="250" id="comments" placeholder="Quisiera agregar 'Feliz Cumple Mati!', gracias :)" class="form-control" rows="4"></textarea>
    </div>
</div>
<script type="text/javascript">
    var myVar = setInterval(getEstimate, 60000);
    function getEstimate(){
        $.get('api/CalendarData/GetPickupDate/@Model.PreparationTime', function (data) {
            $('#pickupDate').empty();
            $('#pickupDate').append(data);
        });
    }

    $.ajax({
        type: 'GET',
        url: 'api/ShoppingCartData/GetComments/',
        dataType: 'json',
        success: function (data) {
            if (data.comments != 'undefined')
                $('#comments').append(data.comments);
            else
                $('#comments').append('');
        }
    });
    $("a").on('click', function () {
        $.ajax({
            type: 'GET',
            url: 'api/ShoppingCartData/AddComments/' + $('#comments').val()
        });
    });
</script>