@model ShoppingCartViewModel

<div id="sms-container" class="">
    <div style="display:flex; ">
        <div style="margin:auto;">

            <style>
                p.mobile-msg{
                    font-size: larger;
                }
            </style>
        
        @if (Model.User == null)
        {
            <div class="sms alert alert-warning animated" style="margin-left: 30px; margin-right: 30px;">
                <p class="mobile-msg">¿Querés recibir un SMS cuando la orden esté lista? <a asp-action="Login" asp-controller="Account" asp-route-returnUrl="~/Account/VerifyNumber/ShoppingCart?bookmark=payout"><strong>Click aquí</strong></a></p>
            </div>
        }
        else
        {
            <div class="sms alert alert-success animated" style="margin-left: 30px; margin-right: 30px;">
                @if (!Model.User.PhoneNumberConfirmed)
                {
                    <p class="mobile-msg">@Model.User.FirstName, para recibir SMS cuando terminemos tu pedido por favor, <a asp-action="VerifyNumber" asp-controller="Account" asp-route-returnUrl="ShoppingCart#payout"><strong>ingresa tu número aquí.</strong></a></p>
                }
                else
                {
                    <div class="mobile-msg">
                        @Model.User.FirstName, te vamos a avisar cuando la orden está lista al siguiente número +@Model.User.PhoneNumber
                        <span><a asp-action="VerifyNumber" asp-controller="Account" asp-route-returnUrl="ShoppingCart#payout">Cambiar</a></span>
                    </div>
                }
            </div>
        }
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        setInterval(function () {
            setTimeout(function () {
                $('.sms').addClass('tada');
            }, 2000);
            setTimeout(function () {
                $('.sms').removeClass('tada');
            }, 1000);
        }, 5000)
    });
</script>