@model String
<div style="margin-left: 7px;margin-right: 7px; text-align:left;">
    <div><h1 class="text-center" style="margin-top:0px;font-family: Noto Serif;">Comentarios</h1> </div>
    <div>Si querés tu orden para una fecha posterior, o simplemente querés decirnos algo, dejanos escrito acá abajo. <strong><a class="text-muted" asp-action="OpenHours" asp-controller="Calendar">Ver Horarios.</a></strong></div>
    <textarea maxlength="250" id="comments" placeholder="Quisiera agregar 'Feliz Cumple Mati!', gracias :)" class="form-control" rows="4">@Html.Raw(!string.IsNullOrEmpty(Model) ? Model : string.Empty)</textarea>
    <div>
        <h4 class="text-muted text-center">Hacemos factura A o B. Dejanos tus detalles.</h4>
    </div>
    <div style="margin-top: 5px; text-align: right;">
        <a class="btn btn-primary" asp-controller="PieDetail" asp-action="List">Seguir Comprando</a>
        <a class="btn btn-primary" href="#sms-container" id="tocheckout"> <span class="fa fa-arrow-down"></span> Finalizar</a>
    </div>
</div>
