<div class="container" id="estimation-time" style="font-size: larger;">
    
    <h1 style="font-family:Noto serif;">Preguntas</h1>
    
    <h3>Estimación</h3>
    <div class="">
        La fecha y hora te dice cuándo tu pedido va a estar listo para ser retirado.<br />
        La hora estimada es calculada teniendo en cuenta el tiempo de preparación, y nuestros horarios de producción y atención al público. <br />
        También tenemos en cuenta feriados, fechas especiales y vacaciones.<br />
        Así que quedate tranquilo/a, que la fecha que calculamos es 100% precisa.<br />
        Todos nuestros productos son frescos, y así nos aseguramos que vas a recibir tu pedido en tiempo y forma.
    </div>

    <h3>¿Querés retirar tu compra en otra fecha?</h3>
    <div class="">
        No hay ningun problema, siempre y cuando la fecha sea posterior a la calculada por el sistema. <br />
        Podés elegir cuando lo retirás una vez que agregues el producto al carrito.<br />
    </div>

    <h3>¿Cuáles son los horarios de atención?</h3>
    <div class="">
        Los horarios de atención están publicados <a href="/Calendar/OpenHours">aquí</a>. <br />
        Antes de pasar por nuestro local, asegurate de saber nuestros horarios de atención.
    </div>

    <h3>¿Querés retirar tu compra antes?</h3>
    <div class="">
        En ese caso, tendrías que comunicarte con nosotros para ver si lo podemos hacer. <br />
        Vamos a hacer todo lo posible por finalizar tus productos lo antes posible. <br />
        A veces, simplemente no podremos. <br />
    </div>
</div>