@model HomeViewModel

<link href="~/Content/Home/Index.css" rel="stylesheet" />



<header class="intro-header">
    <img class="img-responsive" alt="La Reposteria Shop'" src="~/Pictures/logo.png" />
    <div class="container">
        <div class="intro-message">            
            <hr class="intro-divider">
            @*<h1 class="text-warning welcome-msg">¡Hola!</h1>*@
            <h1 >Bienvenido al sitio de la mejor pastelería artesanal de Buenos Aires</h1>
        </div>
    </div>
</header>

@*@await Html.PartialAsync("Carousel")*@

<section class="services" id="services">
    <div class="wrap group center-block">
        <div class="section-heading text-center">
            <h1>Disfruta de nuestros servicios y delicias</h1>
            <h2  class="text-muted">Mira todo lo que tenemos para ofrecerte!</h2>
        </div>
        
        <ul class="repo-features group">
            <li >
                <div class="service-item">
                    <a asp-controller="PieDetail" asp-action="List">
                        <i class="fa fa-shopping-cart text-primary"></i>
                        <h3>Comprar</h3>
                        <p class="text-muted">Compra nuestros productos a través de esta web</p>
                    </a>
                </div>
            </li>
            <li >
                <div class="service-item">
                    <a asp-controller="PieDetail" asp-action="List">
                        <i class="fa fa-birthday-cake text-primary"></i>
                        <h3>Cumples</h3>
                        <p class="text-muted">Encarganos tu torta de cumpleaños, con los sabores que quieras.</p>
                    </a>
                </div>
            </li>
            <li >
                <div class="service-item">
                    <a href="#">
                        <i class="fa fa-gift text-primary"></i>
                        <h3>Desayunos</h3>
                        <p class="text-muted">Sorprendé a ese ser querido con un desayuno continental sorpresa!</p>
                    </a>
                </div>
            </li>
            <li >
                <div class="service-item">
                    <a href="#">
                        <i class="fa fa-users text-primary"></i>
                        <h3>Eventos</h3>
                        <p class="text-muted">Organizamos tanto tu catering, como la mesa dulce!</p>
                    </a>
                </div>
            </li>
            <li >
                <div class="service-item">
                    <a href="#">
                        <i class="fa fa-cutlery text-primary"></i>
                        <h3>Casamientos</h3>
                        <p class="text-muted">Organizamos tanto tu catering, como la mesa dulce!</p>
                    </a>
                </div>
            </li>
            <li>
                <div class="service-item">
                    <a href="#">
                        <i class="fa fa-glass text-primary"></i>
                        <h3>Dulces</h3>
                        <p class="text-muted">Organizamos tanto tu catering, como la mesa dulce!</p>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</section>


<section class="bg-light" id="piesoftheweek">
    <div class="container">
        <h1>Destacados de la semana</h1>
        <h1 class="text-muted">Nuestra selección semanal - Especial para vos!</h1>
        <div class="row">
            @foreach (var pie in Model.PiesOfTheWeek)
            {
                @Html.Partial("PieOverviewSummary", pie)
            }
        </div>
    </div>
</section>

<section class="bg-light" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="section-heading">Nuestro equipo</h1>
                <h2 class="section-subheading text-muted"></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="team-member">
                    <h1>
                        Claudio
                        <img class="membericon" src="~/Content/Home/oven-glove.svg" alt="">
                    </h1>
                    <img class="mx-auto img-circle" src="~/Pictures/Team/Claudio.jpg" alt="">
                    <h2 class="text-muted">Maestro pastelero</h2>
                    <p class="text-muted">Cofundador</p>
                    <p><a href="mailto:claudio@lareposteria.com.ar">claudio@lareposteria.com.ar</a></p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="team-member">
                    <h1>
                        Marcela
                        <img class="membericon" src="~/Content/Home/mixer.svg" alt="">
                    </h1>
                    <img class="mx-auto img-circle" src="~/Pictures/Team/Marcela.jpg" alt="">
                    <h2 class="text-muted">Mente creativa</h2>
                    <p class="text-muted">Cofundadora</p>
                    <p><a href="mailto:marcela@lareposteria.com.ar">marcela@lareposteria.com.ar</a></p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="team-member">
                    <h1>
                        Fiorella
                        <img class="membericon" src="~/Content/Home/chef.svg" alt="">
                    </h1>
                    <img class="mx-auto img-circle" src="~/Pictures/Team/Fio.jpeg" alt="">
                    <h2 class="text-muted">Master Chef</h2>
                    <p class="text-muted">Manager de Ventas</p>
                    <p><a href="mailto:fiorella@lareposteria.com.ar">fiorella@lareposteria.com.ar</a></p>
                </div>
            </div>
        </div>
        <div class="row">
            
            <div class="col-lg-12 mx-auto text-center">
                <blockquote><h1>El secreto esta en la cocción.</h1><br/><h1 class="text-muted">Santiago Loso 2017</h1></blockquote>
            </div>
        </div>
    </div>
</section>


