@model HomeViewModel

<link href="~/Content/Home/Index.css" rel="stylesheet" />



<header class="intro-header" id="intro-header">
    <img class="img-responsive" alt="La Reposteria Shop'" src="~/Pictures/logo.png" />
    <div class="container">
        <div class="intro-message">     
            @*<h1 class="text-warning welcome-msg">¡Hola!</h1>*@
            <div class="row">
                <div class="col-lg-12 col-md-12 hidden-sm hidden-xs">

                    <hr class="intro-divider">
                    <h1>Bienvenido al sitio de la mejor pastelería artesanal de Buenos Aires</h1>
                </div>
                <div class="hidden-lg hidden-md col-sm-12 col-xs-12">
                    <h1>Repostería Artesanal</h1>
                </div>
            </div>
            <a href="#services" class="hide-on-palm arrow-down" id="extra-info">
                <span class="fa-stack fa-3x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-chevron-down fa-stack-1x"></i>
                </span>
            </a>
        </div>
    </div>
</header>

@*@await Html.PartialAsync("Carousel")*@

<section class="services" id="services">
    <h1 class="text-center">Servicios</h1>
    <div class="wrap group center-block">
        <div class="row">
            <div class="col-lg-12 col-md-12 hidden-sm hidden-xs">
                <div class="section-heading text-center">
                    <h2 class="text-muted">Mira todo lo que tenemos para ofrecerte!</h2>
                </div>

                <ul class="repo-features group">
                    <li>
                        <div class="service-item">
                            <a asp-controller="PieDetail" asp-action="List">
                                <i class="fa fa-shopping-cart text-primary"></i>
                                <h3>Comprar</h3>
                                <p class="text-muted">Compra nuestros productos a través de esta web.</p>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-item">
                            <a asp-controller="Services" asp-action="SpecialCakes">
                                <i class="fa fa-birthday-cake text-primary"></i>
                                <h3>Cumples</h3>
                                <p class="text-muted">Encarganos tu torta de cumpleaños, con los sabores que quieras.</p>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-item">
                            <a asp-controller="Services" asp-action="Breakfast">
                                <i class="fa fa-gift text-primary"></i>
                                <h3>Desayunos</h3>
                                <p class="text-muted">Sorprendé a ese ser querido con un desayuno continental sorpresa!</p>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-item">
                            <a asp-controller="Services" asp-action="Catering">
                                <i class="fa fa-cutlery text-primary"></i>
                                <h3>Catering</h3>
                                <p class="text-muted">Hacemos el catering para tu evento. Super novedoso y exquisito. Mira!</p>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-item">
                            <a asp-controller="Services" asp-action="SpecialCakes">
                                <i class="fa fa-users text-primary"></i>
                                <h3>Fiestas</h3>
                                <p class="text-muted">Desde casamientos hasta bautismos. Tortas bien top y deliciosas!</p>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-item">
                            <a asp-controller="Services" asp-action="SweetTable">
                                <i class="fa fa-coffee text-primary"></i>
                                <h3>Mesa dulce</h3>
                                <p class="text-muted">Prepara una mesa dulce para terminar de enloquecer a tus invitados.</p>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="hidden-lg hidden-md col-sm-12 col-xs-12">
                <ul class="repo-features group">
                    <li>
                        <div class="service-item">
                            <a asp-controller="PieDetail" asp-action="List">
                                <i class="fa fa-shopping-cart text-primary"></i>
                                <h3>Comprar</h3>
                                <p class="text-muted">Compra online</p>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-item">
                            <a asp-controller="Services" asp-action="Birthdays">
                                <i class="fa fa-birthday-cake text-primary"></i>
                                <h3>Cumples</h3>
                                <p class="text-muted">Tortas especiales</p>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-item">
                            <a asp-controller="Services" asp-action="Breakfast">
                                <i class="fa fa-gift text-primary"></i>
                                <h3>Desayunos</h3>
                                <p class="text-muted">Súper ricos y completos</p>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-item">
                            <a asp-controller="Services" asp-action="Catering">
                                <i class="fa fa-cutlery text-primary"></i>
                                <h3>Catering</h3>
                                <p class="text-muted">Catering novedoso y exquisito</p>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-item">
                            <a asp-controller="Services" asp-action="SpecialCakes">
                                <i class="fa fa-users text-primary"></i>
                                <h3>Fiestas</h3>
                                <p class="text-muted">Casamientos, bautismos y 15s!</p>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-item">
                            <a asp-controller="Services" asp-action="SweetTable">
                                <i class="fa fa-coffee text-primary"></i>
                                <h3>Mesa dulce</h3>
                                <p class="text-muted">De todo rico</p>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            </div>
        </div>
</section>


<section class="bg-light" id="piesoftheweek">
    <div class="container">
        <h1>Destacados</h1>
        <h1 class="hidden-sm hidden-xs text-muted">Nuestra selección semanal - Especial para vos!</h1>
        <div class="row">
            @foreach (var pie in Model.PiesOfTheWeek)
            {
                @Html.Partial("PieOverviewSummary", pie)
            }
        </div>
    </div>
</section>

<section class="bg-light" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="section-heading">Nuestro equipo</h1>
                <h2 class="section-subheading text-muted"></h2>
            </div>
        </div>
        <div class="owl-carousel team-carousel">
            <div class="">
                <div class="team-member">
                    <h1>
                        Claudio
                    </h1>
                    <img class="mx-auto img-circle" src="~/Pictures/Team/Claudio.jpg" alt="">
                    <h2 class="text-muted">Maestro pastelero</h2>
                    <p class="text-muted">Cofundador</p>
                    @*<p><a href="mailto:claudio@lareposteria.com.ar">claudio@lareposteria.com.ar</a></p>*@
                </div>
            </div>
            <div class="">
                <div class="team-member">
                    <h1>
                        Marcela
                    </h1>
                    <img class="mx-auto img-circle" src="~/Pictures/Team/Marcela.jpg" alt="">
                    <h2 class="text-muted">Mente creativa</h2>
                    <p class="text-muted">Cofundadora</p>
                    @*<p><a href="mailto:marcela@lareposteria.com.ar">marcela@lareposteria.com.ar</a></p>*@
                </div>
            </div>
            <div class="">
                <div class="team-member">
                    <h1>
                        Fiorella
                    </h1>
                    <img class="mx-auto img-circle" src="~/Pictures/Team/Fio.jpeg" alt="">
                    <h2 class="text-muted">Master Chef</h2>
                    <p class="text-muted">Manager de Ventas</p>
                    @*<p><a href="mailto:fiorella@lareposteria.com.ar">fiorella@lareposteria.com.ar</a></p>*@
                </div>
            </div>
            <div class="">
                <div class="team-member">
                    <h1>
                        Gaby
                    </h1>
                    <img class="mx-auto img-circle" src="~/Pictures/Team/Tia.png" alt="">
                    <h2 class="text-muted">Master Chef</h2>
                    <p class="text-muted">Manos mágicas</p>
                    @*<p><a href="#">&zwnj;</a></p>*@
                </div>
            </div>
            <div class="">
                <div class="team-member">
                    <h1>
                        Nico
                    </h1>
                    <img class="mx-auto img-circle" src="~/Pictures/Team/Nico.PNG" alt="">
                    <h2 class="text-muted">Master de Todo</h2>
                    <p class="text-muted">Genio culinario</p>
                    @*<p><a href="#">&zwnj;</a></p>*@
                </div>
            </div>
            <div class="">
                <div class="team-member">
                    <h1>
                        Alicia
                    </h1>
                    <img class="mx-auto img-circle" src="~/Pictures/Team/ALita.PNG" alt="">
                    <h2 class="text-muted">La Jefa</h2>
                    <p class="text-muted">Atención al Cliente</p>
                    @*<p><a href="#">&zwnj;</a></p>*@
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mx-auto text-center">
                <blockquote><h1>El secreto esta en la pasión.</h1></blockquote>
            </div>
        </div>
    </div>
</section>
<section id="afip">
    <a href='http://qr.afip.gob.ar/?qr=-3Dafrs7S3zSZ4ok4IozMQ,,' target='_F960AFIPInfo'>
        <img src='http://www.afip.gob.ar/images/f960/DATAWEB.jpg' border='0'>
    </a>
</section>

<script type="text/javascript">
    $(function () {
        $('.carousel').carousel({
            interval: 2000
        });
    });

    $('.team-carousel').owlCarousel({
        //center: true,
        items: 1,
        loop: true,
        margin: 30,
        autoplay: true,
        autoplayTimeout: 3000,
        //autoplayHoverPause: true,   
        responsive: {
            500: {
                items: 2
            },
            1024: {
                items: 4
            },
            1600: {
                items: 6
            }
        }
    });



    $(function () {
        $('a#extra-info[href *=\\#]:not([href =\\#])').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });

    $(window).scroll(function () {

        //get scroll position
        var topWindow = $(window).scrollTop();
        //multipl by 1.5 so the arrow will become transparent half-way up the page
        var topWindow = topWindow * 1.5;

        //get height of window
        var windowHeight = $(window).height();

        //set position as percentage of how far the user has scrolled 
        var position = topWindow / windowHeight;
        //invert the percentage
        position = 1 - position;

        //define arrow opacity as based on how far up the page the user has scrolled
        //no scrolling = 1, half-way up the page = 0
        $('#extra-info').css('opacity', position);

    });
</script>
