@model HomeViewModel


@*@await Html.PartialAsync("Carousel")*@

<header class="intro-header">
    <img class="img-responsive" style="margin: 0px auto;" alt="La Reposteria Shop'" src="~/Images/logo.png" />
    <div class="container">
        <div class="intro-message">
            
            <hr class="intro-divider">
            <h1>¡Hola!</h1>
            <h3>Este es el sitio de la mejor pastelería artesanal de Buenos Aires</h3>
        </div>
    </div>
</header>


@*<section class="bg-light" id="piesoftheweek">
    <div class="container">
        <h2>Destacados de la semana</h2>
        <h4>Nuestra selección semanal - Especial para vos!</h4>
        <div class="row">
            @foreach (var pie in Model.PiesOfTheWeek)
            {
                @Html.Partial("PieOverviewSummary", pie)
            }
        </div>
    </div>
</section>*@

<section class="services" id="services">
    <div class="container">
        <div class="section-heading text-center">
            <h2>Disfruta de nuestros servicios y delicias</h2>
            <p class="text-muted">Mira todo lo que tenemos para ofrecerte!</p>
        </div>
        <div class="row">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="service-item">
                            <i class="fa fa-shopping-cart text-primary"></i>
                            <h3>Compra Online</h3>
                            <p class="text-muted">Algunos de nuestros productos estan disponibles para ser comprados a través de esta web</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="service-item">
                            <i class="fa fa-birthday-cake text-primary"></i>
                            <h3>Cumpleaños</h3>
                            <p class="text-muted">Encarganos tu torta de cumpleaños, con los sabores que quieras.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="service-item">
                            <i class="fa fa-gift text-primary"></i>
                            <h3>Desayunos</h3>
                            <p class="text-muted">Sorprendé a ese ser querido con un desayuno continental sorpresa!</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="service-item">
                            <i class="fa fa-users text-primary"></i>
                            <h3>Eventos</h3>
                            <p class="text-muted">Contactanos para organizar tanto tu catering, como la mesa dulce!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-light" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Nuestro equipo</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <img class="mx-auto img-circle" src="~/Images/Team/Claudio.jpg" alt="">
                    <h4>Claudio</h4>
                    <h5 class="text-muted">Maestro pastelero</h5>
                    <p class="text-muted">Cofundador</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img class="mx-auto img-circle" src="~/Images/Team/Marcela.jpg" alt="">
                    <h4>Marcela</h4>
                    <h5 class="text-muted">Manos magicas / mente creativa</h5>
                    <p class="text-muted">Cofundadora</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img class="mx-auto img-circle" src="~/Images/Team/Fio.jpeg" alt="">
                    <h4>Fio</h4>
                    <h5 class="text-muted">Master Cheff</h5>
                    <p class="text-muted">Manager de Ventas</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mx-auto text-center">
                <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
            </div>
        </div>
    </div>
</section>


