.calendar-index {
    font-family: Arial;
}
    .calendar-index table {
        margin: auto;
    }

    .calendar-index div.timepicker {
        margin: 5px;
        width: 100px;
    }

    .calendar-index table.timeframestable {
        vertical-align: top;
    }

    .calendar-index .input-group-addon {
        max-width: 38px;
    }
