@charset "UTF-8";
@import "~materialize-css/sass/components/color-variables";
@import "~materialize-css/sass/components/variables";
@import "~materialize-css/sass/components/carousel";

.carousel {
    height: 200px;
}

    img {
        object-fit: cover;
        width:200px;
        height:200px;
    }