.container {
    background-color: white;
}

mat-toolbar-row {
    a {
        padding: 14px;
    }
}

section#afip {
    text-align: center;
    padding: 0px;
}

    section#afip img {
        width: 45px;
    }

.icon {
  padding: 0 14px;
}

.spacer {
  flex: 1 1 auto;
}