<div class="container">
<mat-toolbar color="accent">
    <mat-toolbar-row >
        <span></span>
        <span class="spacer"></span>
        <button mat-button (click)="triggerScrollTo('us', -56)">Nosotros</button>
        <button mat-button (click)="triggerScrollTo('hours', -56)">Horarios</button>
        <button mat-button (click)="triggerScrollTo('contact', -56)">Contacto</button>
    </mat-toolbar-row>
</mat-toolbar>
<app-video></app-video>
<div class="fb-share">
    <app-fb-share [url]="'https://facebook.com/ReposteriaDeLasArtes/'" [showLike]="true"></app-fb-share>
</div>
<app-info id="us"></app-info>
<app-hours id="hours"></app-hours>
<app-contact id="contact"></app-contact>

<section id="afip">
    <a href='https://qr.afip.gob.ar/?qr=-3Dafrs7S3zSZ4ok4IozMQ,,' target='_F960AFIPInfo'>
        <img src='https://www.afip.gob.ar/images/f960/DATAWEB.jpg' border='0'>
    </a>
</section>
</div>