@font-face {
    font-family: Corsiva;
    src: url(Fonts/Corsiva.woff);
}

html,
body {
    width: 100%;
    min-width: 320px;
    height: 100%;
    padding-top: 25px;
    font-family: 'Noto Serif';
}

#body {
    /*background-color: white;*/
    /*padding-top: 25px;*/
    width: 100%;
}

section {
    padding: 100px 0;
    margin-top: 200px 0;
}

.btn-primary {
    background-color: #a0644e !important;
    border-color: maroon !important;
}

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
        background-color: firebrick !important;
        border-color: maroon !important;
    }

.btn-repo {
    background-color: #883636 !important;
    border-color: black !important;
    margin: 5px;
}

h1 {
    font-family: 'Playball', cursive;
    font-size: 50px;
    margin-bottom: 20px;
}

div.title-container {
    text-align: center;
    text-shadow: 0px 0px 10px rgba(31, 31, 33, 0.9);
}

h1.title-logo {
    background-color: green;
    border-color: #4ca056;
    border-style: solid;
    border-radius: 50%;
    color: white;
    padding: 20px;
    margin: 30px auto;
    display: inline-block
}

.slick-dots li button:before {
    border-radius: 0 !important;
    font-size: 10px !important;
    color: #9a2f2f !important;
}