html,
body {
    width: 100%;
    min-width: 320px;
    height: 100%;
    padding-top: 25px;
    font-family: 'Source Sans Pro', sans-serif;
}

#body {
    background-color: white;
    padding-bottom: 150px;
    padding-top: 25px;
}

section {
    padding: 100px 0;
    margin-top: 200px 0;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: greenyellow !important;
    border-color: darkseagreen !important;
}

.btn {
    background-color: forestgreen !important;
    border-color: black !important;
    margin: 5px;
}