<div class="container">


<mat-tab-group >
  <mat-tab label="Reserva" >
    <p>
      Pagalo cuando lo recibís. Si abonás en <strong class="appealing">efectivo</strong> te regalamos un <strong class="appealing">voucher de $50</strong> para tu próxima compra.
    </p>
    <div>
      <button mat-raised-button routerLink="/reservation" color="primary">Reservar</button>
    </div>
    <p>
      <small>
        ¡Te mandamos un sms cuando el pedido está listo!
      </small>
    </p>  
  </mat-tab>
  <mat-tab label="MercadoPago">
    <p>
      Pagá ahora con <strong>MercadoPago</strong> con la tarjeta que más te convenga.  
    </p>  
    <div *ngIf="(mercadoLink && !mercadoLinkFailed) else loadingLink" >
      <a id="mercadolink" (click)="goPay()" name="MP-Checkout" mp-mode="redirect" class="MP-blue-common-CDl MP-ar-l-rn-Dl" target="">
          Pagar
      </a>
    </div>
    <ng-template #loadingLink>
      <div [ngClass]="loading ? '' : 'hidden'">
        <mat-spinner [diameter]="50"></mat-spinner>
      </div>
    </ng-template>

    <div [ngClass]="mercadoLinkFailed && !retrying ? '' : 'hidden'">
      <div #retry>
        <button mat-fab>
          <mat-icon aria-label="">refresh</mat-icon>
        </button>
      </div>      
    </div>
    <div [ngClass]="mercadoLinkFailed && retrying ? '' : 'hidden'">
      <div>
        <mat-spinner [diameter]="50"></mat-spinner>
      </div> 
    </div>

    <p>
      <small>
        ¡No es necesario estar registrado!
      </small>
    </p>  
  </mat-tab>
</mat-tab-group>
</div>
<div id="bottom"></div>

