@model AlbumPictures
@{ var source = Model.PrimaryPicture + "b.jpg"; }

<div class="slider-nav" id="nav-@Model.Photoset.Id">
    @foreach (var picture in Model.PicturesUrls)
    {
        var pic = picture + "q.jpg";
        var picPreview = picture + "z.jpg";
        var picBig = picture + "b.jpg";
        <div class="item" style="padding-right: 5px;">
            <a href="@picBig" data-caption="">
                <img src="@pic" alt="image" draggable="false" style="margin-right: 0px;" />
            </a>
        </div>
    }
</div>

<script type="text/javascript">
    $('#nav-@Model.Photoset.Id' + '.slider-nav').slick({
        slidesToScroll: 1,
        dots: false,
        infinite: true,
        focusOnSelect: true,
        arrows: false,
        centerMode: true,
        variableWidth: true
    });
    $(document).ready(function () {
        $('#nav-@Model.Photoset.Id' + '.slider-nav').slickLightbox({
            itemSelector: 'a',
            slick: {
                arrows: true,
            }
        });
    });
</script>