@model IEnumerable<AlbumPictures>

@section styles {
    <link href="~/Content/Photos/Index.css" rel="stylesheet" />
}
@*<link rel="stylesheet" type="text/css" href="~/lib/slick-carousel/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="~/lib/slick-carousel/slick/slick-theme.css" />*@

<section class="container">
    <div id="topsection"></div>

    <div class="title-container">
        <h1 class="title-logo">Fotos</h1>
    </div>
    <div class="" id="top-filters">
        <div id="photosfilter-mobile" class="photosfilter">
            @{
                foreach (var photosetPhotos in Model)
                {
                    <div>
                        <a href="#@photosetPhotos.Photoset.Id">@photosetPhotos.Photoset.Title</a>
                    </div>
                }
            }
        </div>
        <br />

    </div>

    @Html.Partial("ArrowUp")
    <div class="row">
        <div class="" id="allAlbums">

        </div>
    </div>
</section>

<script>
    $(function () {
        $('a[href *=\\#]:not([href =\\#])').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top - 65
                    }, 1000);
                    return false;
                }
            }
        });
    });




    @foreach(var item in Model)
    {
        <text>
            $.get("/api/PhotosData/GetAlbum/@item.Photoset.Id", function (data) {
                $("#allAlbums").append(data);
            });
        </text>
    }
</script>