@model IEnumerable<PhotosetPhotos>

<link href="~/Content/Photos/Index.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="~/lib/slick-carousel/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="~/lib/slick-carousel/slick/slick-theme.css" />

<section class="container">
    <div id="topsection"></div>
    <h1 id="toptitle" class="hidden-lg hidden-md">Galería de fotos</h1>
    <div class="hidden-lg hidden-md col-sm-12 col-xs-12" id="top-filters">
        <h2>
            Álbumes
        </h2>
        <div id="photosfilter-mobile" class="photosfilter">
        @{
            foreach (var photosetPhotos in Model)
            {
                <div>
                    <a href="#@photosetPhotos.Photoset.Id">@photosetPhotos.Photoset.Title</a>
                </div>
            }
        }
        </div>

    </div>
    
    <div class="arrow-up" id="arrow-up" style="display:none;">
        <a href="#topsection" class="hide-on-palm arrow-up" >
            <span class="fa-stack fa-2x">
                <i class="fa fa-chevron-up fa-stack-1x"></i>
            </span>
        </a>
    </div>

    <div class="col-lg-2 col-md-3 hidden-sm hidden-xs" >   

        <div class="affix" id="leftpanel" >
            <h2>
                Álbumes
            </h2>
            <div class="photosfilter">
                @{
                    foreach (var photosetPhotos in Model)
                    {
                        <div class="">
                            <a href="#@photosetPhotos.Photoset.Id">@photosetPhotos.Photoset.Title</a>
                        </div>
                    }
                }
            </div>
        </div>

    </div>
    <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12" id="allAlbums">
        <h1 id="toptitle" class="hidden-sm hidden-xs">Galería de fotos</h1>
    </div>
</section>

<script>
    $(function () {
        $('a[href *=\\#]:not([href =\\#])').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top - 65
                    }, 1000);
                    return false;
                }
            }
        });
    });

    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
        if (document.body.scrollTop > 120 || document.documentElement.scrollTop > 120) {
            $("#arrow-up").fadeIn('block');
        } else {
            $("#arrow-up").fadeOut();
        }
    }


    @foreach(var item in Model)
    {
        <text>
            $.get("/api/PhotosData/GetAlbum/@item.Photoset.Id", function (data) {
                $("#allAlbums").append(data);
            });
        </text>
    }
</script>