@model List<PhotosetPhotos>

@{
    foreach (var photoset in Model)
    {
        <div style="text-align: center; ">
            <h1>@photoset.Photoset.Title</h1>
            <div class="owl-carousel owl-theme">
                @{
                    foreach (var photo in photoset.Photoset.Photo)
                    {
                        <div class="item" style="border-style: solid; border-radius: 5px; ">
                            <h4>@photo.Title</h4>
                            @{var source = $"https://farm{photo.Farm}.staticflickr.com/{photo.Server}/{photo.Id}_{photo.Secret}_n.jpg";}
                            <img style="padding:10px;" class="owl-lazy" data-src="@source" alt="">
                        </div>
                    }
                }
            </div>
        </div>
    }
}

<script type="text/javascript">
    $(document).ready(function () {
        $('.owl-carousel').owlCarousel({
            lazyLoad: true,
            loop: true,
            margin: 10,
            //nav: true,
            center: true,
            responsive: {
                0: {
                    items: 1.1
                },
                480: {
                    items: 2.2
                },
                768: {
                    items: 4.4
                }
            }
        })
    });
</script>