@model IEnumerable<AlbumPictures>

@section styles {
    <link href="~/Content/Photos/Index.css" rel="stylesheet" />
}
@*<link rel="stylesheet" type="text/css" href="~/lib/slick-carousel/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="~/lib/slick-carousel/slick/slick-theme.css" />*@

<section class="container">
    <div id="topsection"></div>

    <div class="title-container">
        <h1 class="title-logo">Fotos</h1>
    </div>
    <div class="" id="top-filters">
        <div id="photosfilter-mobile" class="photosfilter">
            @{
                foreach (var photosetPhotos in Model)
                {
                    <div>
                        <a href="#album-@photosetPhotos.Photoset.Id">@photosetPhotos.Photoset.Title</a>
                    </div>
                }
            }
        </div>
        <br />

    </div>

    @Html.Partial("ArrowUp")


    @foreach(var album in Model)
    {
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" >
        <div style="border-style: solid; background-color: white; padding: 10px; margin-bottom: 10px; border-width: 1px; border-color: white; border-radius: 5px;">
            <h3 class="text-center" id="album-@album.Photoset.Id" style="color:#883636; ">@album.Photoset.Title</h3>
            @Html.Partial("~/Views/Photos/AlbumFullScreen.cshtml", album)
        </div>
    </div>

    }
</section>

<script>
    $(function () {
        $('a[href *=\\#]:not([href =\\#])').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top - 65
                    }, 1000);
                    return false;
                }
            }
        });
    });

    $('.slider-for').matchHeight();
</script>