@model PhotosetList

@{
    foreach (var photoset in Model.Photosets.Photoset)
    {
        <div style="display:none; text-align: center; touch-action: manipulation;" class="photosetcontainer" id="@photoset.Id">
            <h1>@photoset.Title._Content</h1>
            <div id="@photoset.Id" class="owl-carousel owl-theme photoset">
            </div>
        </div>
    }
}

<script type="text/javascript">
    $(document).ready(function () {
        $('.photoset').each(function () {
            getPictures($(this)[0].id);
        })
    });

    function getPictures(photoset) {
        var url = 'https://api.flickr.com/services/rest/';
        $.ajax({
            type: 'GET',
            url: url + '?method=flickr.photosets.getPhotos&api_key=d097bef2694e1f6fea5d594b19967deb&photoset_id=' + photoset + '&format=json&user_id=85024949%40N08&nojsoncallback=?";',
            dataType: 'json',
            success: onsuccess
        });
    }

    function onsuccess(data) {
        /*var photoset = data.photoset;
        var selector = $('div#' + photoset.id + '.owl-carousel');
        var photos = photoset.photo;
        photos.forEach(function (e) {
            var source = "https://farm" + e.farm + ".staticflickr.com/" + e.server + "/" + e.id + "_" + e.secret + "_n.jpg";
            var html = `
                <div class="item" style= "border-style: solid; border-radius: 5px; ">
                    <h4>` + e.title + `</h4>
                    <img style="padding:10px;" class="owl-lazy" data-src="` + source + `" alt="">
                </div>`
            selector.append(html);
        });
        selector.owlCarousel({
            lazyLoad: true,
            loop: true,
            margin: 10,
            center: true,
            responsive: {
                0: {
                    items: 1.1
                },
                480: {
                    items: 2.2
                },
                768: {
                    items: 4.4
                }
            }
        });
        $('div#' + photoset.id + '.photosetcontainer').show();*/
    }
</script>