@model long
@inject IFlickrRepository _flickr;

<div class="">
    <div class="slider-nav" id="nav-@Model">
        @foreach (var picture in _flickr.GetAlbumPictures(Model).PicturesUrls)
        {
            var pic = picture + "s.jpg";
            <div class="item" style="">
                <img src="@pic" alt="image" draggable="false" style="margin-right: 2px;" class="preview" />
            </div>
        }
    </div>
</div>
<script type="text/javascript">
        $('#nav-@Model' + '.slider-nav').slick({
            slidesToScroll: 1,
            dots: false,
            infinite: true,
            focusOnSelect: true,
            arrows: false,
            centerMode: false,
            variableWidth: true
        });
</script>