.price-left {
    margin-right: 5px;
    color: red;
}

.spacer{
    flex-grow: 1 !important;
}

.priceBundle {
    display: flex !important;
}
.priceInStore {
    text-decoration: line-through;
}

.hidden {
    display: none;
}