<div class="priceBundle">
  <small class="price-left">
    <span [ngClass]="priceInStore <= price ? 'hidden' : 'priceInStore'">Sucursal: ${{priceInStore}} c/u</span>
  </small>
  <small class="spacer"></small>
  <small class="price-right">
    ${{price}} c/u
  </small>
</div>    
<div class="priceBundle">
  <small class="price-left">
    <small [ngClass]="priceInStore <= price ? 'hidden' : 'priceInStore'">Subtotal: ${{amount * priceInStore}}</small>
  </small>
  <small class="spacer"></small>
  <small class="price-right">
    Subtotal: ${{amount * price}} 
  </small>
</div>