<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (tap)="close('toggle button')" routerLink='/profile'>Perfil</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="(isHandset$ | async)">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>De las Artes</span>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
<mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
    <!-- <mat-card>
      <mat-card-title color="primary">De las Artes</mat-card-title>
    </mat-card>
    <div>
      <button mat-button routerLink='/login' class='leftPanelButton' (click)="close('toggle button')">
        <mat-icon matListIcon>person</mat-icon>Iniciar Sesión
      </button>
    </div>
    <div>
      <button mat-button routerLink='/products' class='leftPanelButton' (click)="close('toggle button')">
        <mat-icon matListIcon>cake</mat-icon>Productos
      </button>
    </div>
    <div>
      <button mat-button routerLink='/new-catering' class='leftPanelButton' (click)="close('toggle button')">
        <mat-icon matListIcon>restaurant_menu</mat-icon>Catering
      </button>
    </div>
    <div>
      <button mat-button routerLink='/cart' class='leftPanelButton' (click)="close('toggle button')">
        <mat-icon matListIcon>shopping_cart</mat-icon>Carrito
      </button>
    </div>
    <div>
      <button mat-button routerLink='/profile' class='leftPanelButton' (click)="close('toggle button')">
        <mat-icon matListIcon>person</mat-icon>Perfil
      </button>
    </div>
    <button mat-raised-button (click)="close('toggle button')" color="primary" class='closeButton'>Cerrar</button> -->
