<div class="form-container">
  <mat-card>
    
    <mat-card-header>
      <a routerLink="/login">Volver</a>
    </mat-card-header>
    <mat-card-title>
      <div class='logo'>
        <img src='../../../../assets/images/logoRepo.PNG'>
      </div>
      Reestablecer Contraseña
    </mat-card-title>
    <mat-card-content>
        <!-- <mat-vertical-stepper linear>
            <mat-step [stepControl]="mobileForm" editable="false">
              <ng-template matStepLabel>Teléfono celular</ng-template>
              <form [formGroup]="mobileForm">
                <mat-form-field>
                  <mat-label>País</mat-label>
                  <mat-select color="primary" #fontSize value="54" formControlName="country" >
                    <mat-option value="54">Argentina (+54)</mat-option>
                    <mat-option value="55">Brasil (+55)</mat-option>
                    <mat-option value="64">New Zealand (+64)</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Teléfono</mat-label>
                  <input matInput placeholder="11 2777 8899" formControlName="mobile" name="tel" required/>
                </mat-form-field>
                <div>
                  <br />
                  <button mat-raised-button matStepperNext (click)="sendCodeToNumber()" color="primary" [disabled]="!mobileForm.valid">¡Validar!</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="codeForm">
              <ng-template matStepLabel>Confirmación de celular</ng-template>
              <form [formGroup]="codeForm">
                <br />
                <div *ngIf='!codeSent && codeSubmitted'>
                  <mat-card-content>
                    Enviando sms...
                  </mat-card-content>
                  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </div>
                <div *ngIf='codeSent'>
                  <div>
                    Por favor revisa tu celular e ingresa el código que te enviamos.
                  </div>
                  <mat-form-field>
                    <input matInput type="number" step="1" min="1000" max="9999" placeholder="Código de Validación" formControlName="code" required>
                  </mat-form-field>
                </div>
              </form>
            </mat-step>
          </mat-vertical-stepper>  -->
    </mat-card-content>
  </mat-card>
</div>