.navbar-fixed {
  top: 0;
  position: fixed;
  z-index:999;
  background-color: #883636;
  width: 100%;
}
.icon {
  margin-left: 20px;
  margin-right: 20px;
    cursor: pointer;
}
  
  .spacer {
    flex: 1 1 auto;
  }

.templink {
    margin: 5px;
}
.links {
    text-align: center;
}
.left-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

mat-sidenav-content {
  background-color: papayawhip;
  text-align: center;
} 
div#content {
  font-family: 'Noto Serif';
  margin-top: 100px;
}