<!--The content below is only a placeholder and can be replaced.-->
<div id="container">
  <mat-sidenav-container class="left-container" (backdropClick)="close('backdrop')">
    <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
      <mat-card>
        <mat-card-title color="primary">De las Artes</mat-card-title>
      </mat-card>
      <div>
        <button mat-button routerLink='/login' class='leftPanelButton' (click)="close('toggle button')">
          <mat-icon matListIcon>person</mat-icon>Iniciar Sesión
        </button>
      </div>
      <div>
        <button mat-button routerLink='/products' class='leftPanelButton' (click)="close('toggle button')">
          <mat-icon matListIcon>cake</mat-icon>Productos
        </button>
      </div>
      <div>
        <button mat-button routerLink='/new-catering' class='leftPanelButton' (click)="close('toggle button')">
          <mat-icon matListIcon>restaurant_menu</mat-icon>Catering
        </button>
      </div>
      <div>
        <button mat-button routerLink='/cart' class='leftPanelButton' (click)="close('toggle button')">
          <mat-icon matListIcon>shopping_cart</mat-icon>Carrito
        </button>
      </div>
      <div>
        <button mat-button routerLink='/profile' class='leftPanelButton' (click)="close('toggle button')">
          <mat-icon matListIcon>person</mat-icon>Perfil
        </button>
      </div>
      <button mat-raised-button (click)="close('toggle button')" color="primary" class='closeButton'>Cerrar</button>
    </mat-sidenav>
    
    <mat-sidenav-content>
      <div >
        <mat-toolbar color="primary" role="heading" class='navbar-fixed'>
          <mat-toolbar-row>
            <mat-icon class="icon" (click)="sidenav.open()">menu</mat-icon>
            <span>De las Artes</span>
            <mat-icon matBadge="1" matBadgeColor="accent">shopping_cart</mat-icon>
            <span class="spacer"></span>
          </mat-toolbar-row>
        </mat-toolbar>
        <div id="content">
          <router-outlet></router-outlet>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container> 
</div>
