.navbar-fixed {
  top: 0;
  position: fixed;
  z-index:999;
  background-color: #883636;
  width: 100%;
}
.icon {
  margin-left: 20px;
  margin-right: 20px;
    cursor: pointer;
}
mat-icon {
  margin-right: 10px;
}

.leftPanelButton {
  width: 100%;
  border-radius: 0%;
  text-align: left;
  // margin-top: 5px;
}
  
  .spacer {
    flex: 1 1 auto;
  }

.left-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

.closeButton {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 0%;
}

mat-list-item {
  cursor: pointer;
}

mat-sidenav-content {
  background-color: papayawhip;
  // No poner text-align: center -> rompe la animación
} 
div#content {
  font-family: 'Noto Serif';
  background-color: papayawhip;
  margin-top: 64px;
  // No poner text-align: center -> rompe la animación
}


@media only screen and (max-width: 599px) {
  div#content {
      margin-top: 56px;
  }
}