<div id="container">
  <mat-sidenav-container (backdropClick)="close()">
    <mat-sidenav #sidenav (keydown.escape)="close()" disableClose>
      <app-leftnav-container (close)="close()"></app-leftnav-container>
    </mat-sidenav>
    
    <mat-sidenav-content>
      <app-tool-bar (openSideNave)="sidenav.open()"></app-tool-bar>
      <div id="content" #content [ngStyle]="{'padding-top.px': heightPadding}" (window:resize)="adjustPadding()">
        <router-outlet ></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container> 
</div>
<app-snackbar></app-snackbar>