agm-map {
    height: 200px;
    border-radius: 5px;
}
mat-form-field {
    width: 100%;
    margin: 5px;
}
.hidden {
    display: none;
}
button {
    margin: 5px;
}

.confirmed {
    text-align: left;
}
.errors {
    color: #883636;
    margin-bottom: 10px;
}