<div [ngClass]="canDeliver ? 'show' : 'hidden'">
  <div [ngClass]="deliveryAddress ? 'hidden' : 'show'">
    <agm-map [latitude]="storeLatitude" [longitude]="storeLongitude" [zoom]="12" [clickableIcons]='false' [streetViewControl]='false'>
      <agm-marker *ngIf="fullAddress" [latitude]="address.latitude" [longitude]="address.longitude"></agm-marker>
      <agm-circle [latitude]="storeLatitude" [longitude]="storeLongitude" [radius]="deliveryKmRadius * 1000" [fillOpacity]="0.5" [fillColor]="'CadetBlue'">
      </agm-circle>
    </agm-map>
    
    <mat-form-field>
      <input matInput type="text" 
        placeholder="Escribe tu dirección" autocorrect="off" spellcheck="off" autocapitalize="off" #search>
    </mat-form-field>


    <div class="errors">
      <div *ngIf="searchSelected && !fullAddress">
        <small>Por favor, ingresa una dirección completa.</small>
      </div>
      
      <div *ngIf="searchSelected && fullAddress && outOfZone">
        <small>Nuestro delivery no llega a tu zona :(. Si querés llamanos para ver cómo podemos arreglar.</small>
      </div>
    </div>

    <button mat-raised-button (tap)="next.emit()">No quiero envío</button>
  </div>
  <div [ngClass]="deliveryAddress ? 'show' : 'hidden'" class="addressConfirmed">
    <div *ngIf="deliveryAddress" class='confirmed'>
      <strong>Envío</strong> ${{ deliveryAddress.deliveryCost }} - {{ (deliveryAddress.distance / 1000).toFixed(2) }} kms<br/>
      <strong>Dirección</strong> {{ deliveryAddress.streetName }} {{ deliveryAddress.streetNumber }}
    </div>
    <mat-form-field>
      <mat-label>¿Instrucciones de envío?</mat-label>
      <input matInput type="text" placeholder="Piso / Torre / Departamento / etc" #addressInstr
      autocorrect="off" spellcheck="off" autocapitalize="off" autocomplete="off" value="{{ deliveryAddress ? deliveryAddress.deliveryInstructions : '' }}"
      >
    </mat-form-field>
    <mat-progress-bar *ngIf="deliveryLoading" mode="indeterminate"></mat-progress-bar>
    <button mat-raised-button (tap)="clearDelivery()">Cancelar Envío</button>
    <button mat-raised-button color="primary" (tap)="next.emit()">Siguiente</button>
    
  </div>
  <mat-progress-bar *ngIf="savingDelivery" mode="indeterminate"></mat-progress-bar>
</div>
<div [ngClass]="!canDeliver ? 'show' : 'hidden'">
  Tu orden no califica para envíos. Podés agregar algo más, o completar tu orden y retirar en sucursal.
</div>
<div ></div>