.products {
    display: inline;
}

.product-shell {
    text-align: center;
    padding-bottom: 40px;
}
.container {
    background-color: white;
    text-align: center;
}

h1 {
    font-family: 'Playball';
    font-size: 60px;
    margin-top: 0px;
    padding-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.loading {
    max-width: 300px;
    text-align: center;
    margin: 20px auto;
}