@model PaymentNotice

<link href="~/Content/Payment/Payments.css" rel="stylesheet" />

<div class="container">
    <h2>Historial de pagos</h2>
    <table class="table table-responsive">
        <tbody>
            <tr>
                <td>
                    @Model
                </td>
            </tr>
        </tbody>
    </table>
</div>