@model LunchComboViewModel
@inject ILunchRepository _lunchRepository
@inject IFlickrRepository _flickr

@{
    var albums = _flickr.Albums.OrderBy(x => x.Title._Content).Select(x => new SelectListItem() { Value = x.Id.ToString(), Text = x.Title._Content });
    var albumoptions = new List<SelectListItem>();
    var empty = new SelectListItem() { Text = "Elegir álbum...", Value = "", Selected = true, Disabled = true };
    albumoptions.Add(empty);
    albumoptions.AddRange(albums);
}

<div class="container">
    <h2>Editar Combo para Lunch #@Model.LunchId</h2>

    <form asp-controller="Lunch" asp-action="EditCombo" method="post" class="form-horizontal" role="form">
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group" hidden="hidden">
            <label asp-for="LunchId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LunchId" class="form-control" />
                <span asp-validation-for="LunchId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IsCombo" class="col-md-2 control-label"></label>
            <div class="col-md-2">
                <input asp-for="IsCombo" class="form-control" />
                <span asp-validation-for="IsCombo" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="IsGeneric" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="IsGeneric" class="form-control">
                    <option value="true">Genérico</option>
                    <option value="false">Cliente Particular</option>
                </select>
                <span asp-validation-for="IsGeneric" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control" placeholder="" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="EventDuration" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EventDuration" class="form-control" checked="checked" />
                <span asp-validation-for="EventDuration" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Attendants" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Attendants" class="form-control" checked="checked" />
                <span asp-validation-for="Attendants" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ThumbnailUrl" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select class="form-control" asp-items="albumoptions" onchange="albumselected(this.value);"></select>
                <br />
                <div>
                    <input class="form-control" asp-for="ThumbnailUrl" id="thumbnailurl" />
                </div>
                <div style="" id="selected-album">
                    <br />
                    <div id="album-carousel">

                    </div>
                </div>
                <span asp-validation-for="ThumbnailUrl" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-primary" value="Guardar" />
            </div>
        </div>
    </form>
</div>
<hr />
@await Html.PartialAsync("~/Views/Lunch/Detail.cshtml", await  _lunchRepository.GetLunchByIdAsync(Model.LunchId))
<script>
    function linkimgs() {
        $('img').on('click', function () {
            var thumbnail = $(this).attr('src');
            var source = thumbnail.replace("s.jpg", "n.jpg");
            $('#thumbnailurl').val(source);
        });
    }

    function albumselected(albumId) {
        $.get("/api/PhotosData/SmallCarrouselDynamic/" + albumId).done((data) => {
            $('#album-carousel').empty().append(data);
            linkimgs();
        });
    }
</script>