@model Lunch
@inject ILunchRepository _lunchRepository

<style>
    .handy:hover {
        cursor: pointer;
    }
    div.selecteItem{
        background-color: papayawhip
    }
    .row{
        padding: 10px;
    }
</style>

<div class="container text-center">
    <br />
    <div class="row" style="border-top-left-radius: 5px; border-top-right-radius: 5px; max-width: 500px; margin: auto; background-color: #883636; color:papayawhip">
        <h2>Presupuesto</h2>
    </div>

    <div id="lunchbox">
        @if (Model != null && Model.Items != null)
        {
            foreach (var item in Model.Items)
            {
                @Html.Partial("~/Views/Lunch/ItemDetail.cshtml", item)
            }
            foreach (var item in Model.Miscellanea)
            {
                @Html.Partial("~/Views/Lunch/MiscellaneousDetail.cshtml", item)
            }
        }
    </div>

    <div class="row" style="max-width: 500px; margin: auto;background-color: papayawhip; ">
        <div class="selecteItem">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left">
                <div>Buscar</div>
                <div style="max-width: 500px; margin: auto">
                    <select name="state" id="items"></select>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="max-width: 500px; margin: auto;background-color: papayawhip; ">
        <div class="">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-left">
                <div>Agregar Manual</div>
                <input type="text" class="form-control" id="miscDesc" placeholder="Torta de 1 kg..." />
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left">
                <div>Precio $</div>
                <input type="number" class="form-control" id="miscPrice" placeholder="300" />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right">
                <span style="margin:auto;" class="handy" onclick="addMiscellaneous()">Agregar</span>
            </div>
        </div>
    </div>
    @{var hidden = _lunchRepository.GetTotal(Model) > 0 ? "" : "hidden";}
    <div class="row @hidden saveLunch" style="max-width: 500px; margin: auto;background-color: papayawhip;  ">
        <div class="selecteItem">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <a class="btn btn-primary" onclick="save()">Guardar</a>
            </div>
        </div>
        <br />
    </div>

    <div id="totals">
        @Html.Partial("~/Views/Lunch/LunchTotals.cshtml", Model)
    </div>

</div>

<script>
    $(document).ready(() => {
        $.get('/api/LunchData/GetProducts/').then((data) => {
            initializeSelector(data);
        });
    });

    function initializeSelector(data) {
        $selectize = $('select#items').selectize({
            options: data,
            labelField: 'name',
            valueField: 'productId',
            searchField: ['name'],
            placeholder: "Buscar producto...",
            delimiter: ",",
            render: {
                option: function (item, escape) {
                    return '<div>' +
                        (item.name ? '<div class="name" style="color:#883636"">' + escape(item.name) + ' $' + escape(item.minOrderAmount * item.price) + '</div>' : '') +
                        (item.price ? '<div class="price">Precio Unitario: $' + escape(item.price) + '</div>' : '') +
                        (item.minOrderAmount ? '<div class="bites">Bocados: ' + escape(item.minOrderAmount) + '</div>' : '') +
                        '</div>';
                },
                item: function (item, escape) {
                    return '<div style="color: green;">' +
                        (item.name ? '<span class="name" >' + escape(item.name) + '</span>' : '') +
                        (item.minOrderAmount ? ' x ' + escape(item.minOrderAmount) : '') +
                        (item.price ? ' - $' + escape(item.price * item.minOrderAmount) : '') +
                        '</div>';
                }
            },
            onChange: function (event) {
                appendItem(event);
            }
        });
    };

    function save() {
        $.post('/api/LunchData/SaveLunch/').then((data) => {
            window.location = '/Lunch/Detail/' + data;
        });
    }


    function getTotals() {
        $.get('/api/LunchData/GetTotals/').then((data) => {
            $('#totals').empty().append(data);
        });

    }

    function appendItem(id) {
        $.post('/api/LunchData/AddProduct/' + id).then((data) => {
            pasteItem('product', data, id);
        });
    }

    function pasteItem(type, data, id) {
        if ($('#' + type + '-' + id).length > 0) {
            $('#' + type + '-' + id).replaceWith(data);
            $('#' + type + '-' + id).find(".itemprice").addClass("animated jackInTheBox");
        } else {
            $('#lunchbox').append(data);
            $('#' + type + '-' + id).find(".itemprice").addClass("animated jackInTheBox");
        }
        getTotals();
    }

    function removeLunchItemInstance(id) {
        $.ajax({
            url: '/api/LunchData/RemoveProductInstance/' + id,
            type: 'DELETE',
            success: function (data) {
                pasteItem('product', data, id);
            }
        });
    }

    function removeLunchItem(id) {
        $.ajax({
            url: '/api/LunchData/RemoveProduct/' + id,
            type: 'DELETE',
            success: function (data) {
                pasteItem('product', data, id);
            }
        });
    }

    function addLunchItemInstance(id) {
        $.ajax({
            url: '/api/LunchData/AddProductInstance/' + id,
            type: 'POST',
            success: function (data) {
                pasteItem('product', data, id);
            }
        });
    }

    function removeMiscellaneousInstance(lunchMiscellaneousId) {
        $.ajax({
            url: '/api/LunchData/RemoveMiscellaneousInstance/' + lunchMiscellaneousId,
            type: 'DELETE',
            success: function (data) {
                pasteItem('miscellaneous', data, lunchMiscellaneousId);
            }
        });
    }

    function addMiscellaneousInstance(lunchMiscellaneousId) {
        $.ajax({
            url: '/api/LunchData/AddMiscellaneousInstance/' + lunchMiscellaneousId,
            type: 'POST',
            success: function (data) {
                pasteItem('miscellaneous', data, lunchMiscellaneousId);
            }
        });
    }

    function removeMiscellaneous(lunchMiscellaneousId) {
        $.ajax({
            url: '/api/LunchData/RemoveMiscellaneous/' + lunchMiscellaneousId,
            type: 'DELETE',
            success: function (data) {
                pasteItem('miscellaneous', data, lunchMiscellaneousId);
            }
        });
    }

    function addMiscellaneous() {
        $.ajax({
            url: '/api/LunchData/AddMiscellaneous/' + ($('#miscDesc').val()).replace("/", "__") + '/' + $('#miscPrice').val(),
            type: 'POST',
            success: function (id) {
                $.get('/api/LunchData/GetMiscellaneous/' + id).then((data) => {
                    pasteItem('miscellaneous', data, id);
                    $('#miscDesc').val('');
                    $('#miscPrice').val('');
                });
            }
        });        
    }
</script>

















