<div>
    <h3 style="text-align: center">¿Tenés un descuento?</h3>
    <table class="table table-condensed">
        <tbody>
            <tr>
                <td width="100%" style="border: none;" align="center">
                    <input id="discountCode" maxlength="20" class="form-control" placeholder="Escribir código de descuento..." />
                </td>
                <td style="border: none; margin: auto;" valign="bottom" align="center">
                    <input type="submit" class="btn btn-primary" style="" value="Aplicar" onclick="applyCode()" />
                </td>
            </tr>
            <tr>
                <td style="border: none;" colspan="2">
                    <div id="discountError" class="text-danger"></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<script type="text/javascript">
    function applyCode() {
        $.post("/api/DiscountsData/ApplyDiscount/" + $('#discountCode').val())
            .done(function () {
                window.location.reload();
            })
            .fail(function (data) {
                console.log(data);
                $('#discountError').empty().append(data.responseText);
            })
    }
</script>