@model Discount

<div class="container">
    <h2>Agregar descuento</h2>
    <form asp-controller="Discounts" asp-action="Create" method="post" class="form-horizontal" role="form">
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group" hidden="hidden">
            <label asp-for="DiscountId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DiscountId" class="form-control" />
                <span asp-validation-for="DiscountId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Phrase" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Phrase" class="form-control" placeholder="Poner algo como REPO15MARTES o REPODIADELAMADRE2018 o lo que sea..." />
                <span asp-validation-for="Phrase" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ValidFrom" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ValidFrom" class="form-control" placeholder="" />
                <span asp-validation-for="ValidFrom" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DurationDays" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DurationDays" class="form-control" placeholder="7" value="1" />
                <span asp-validation-for="DurationDays" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Weekly" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Weekly" class="form-control" placeholder="Poner 7 si se quiere repetir todas las semanas, sino dejar vacío" />
                <span asp-validation-for="Weekly" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="InstancesLeft" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="InstancesLeft" class="form-control" placeholder="Dejar vacío si no hay límite" />
                <span asp-validation-for="InstancesLeft" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Percentage" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Percentage" class="form-control" value="15" />
                <span asp-validation-for="Percentage" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Base" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Base" class="form-control" />
                <span asp-validation-for="Base" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Roof" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Roof" class="form-control" value="200" />
                <span asp-validation-for="Roof" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group hidden">
            <label asp-for="Comments" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input maxlength="500" asp-for="Comments" class="form-control" placeholder="Poner bases y condiciones..." />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-primary" value="Guardar" />
            </div>
        </div>
    </form>
</div>