@model Discount
@inject ICalendarRepository calendar

<style>
    div#discount-template {
        max-width: 550px;
        padding: 5px;
        margin: auto;
        min-width: 250px;
    }
    * {
        text-align: center;
    }
    div.head {
        background-color: #883636;
        color: papayawhip;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding-bottom: 20px;
    }
        div.head div#title {
            font-size: 25px;
            padding-bottom: 10px;
        }
    div.body {
        background-color: papayawhip;
        padding: 20px;
    }
    div.foot {
        padding: 20px;
        background-color: #883636;
        color: papayawhip;
        font-size: 10px;
        text-align: left;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .voucher-amount {
        font-size: 60px;
        color: green;
    }
    .voucher {
        font-size: 30px;
    }
    .percentage {
        font-size: 60px;
    }
    .code-title {
        font-size: large;
        padding: 5px;
        padding-left: 20px;
        padding-right: 20px;
        border-top-color: #883636;
        border-top-style: solid;
        border-bottom-color: #883636;
        border-bottom-style: solid;
    }

</style>
<div>

    <div style="" id="discount-template">
@{
    string error;
    if (!Discount.IsValid(calendar.LocalTime(), Model, out error))
    {
        <div style="margin: auto; padding: 20px;" class="hidden-print">
            <div class="alert alert-warning alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                @error
            </div>
        </div>
    }
}
        <div class="head">
            <br />
            <a href="http://delasartes.com.ar" target="_blank" style="text-decoration: none; ">
                <div style="padding-left: 20px; padding-right: 20px;">
                    <img src="http://delasartes.com.ar/Pictures/LogoRepo.png" width="250" style="max-width: 100%; max-height: 100%;" />
                </div>
            </a>
            <div id="title">¡¡PROMO!!</div>
        </div>

        <div class="body">
            <div>
                <div class="voucher-amount">
                    @Html.Raw(Model.Percentage == 100 ? $"${Model.Roof}" : $"-{Model.Percentage}% OFF")
                </div>
                <div class="voucher">
                    @Html.Raw(Model.Percentage == 100 ? $"VOUCHER" : $"DESCUENTO")
                </div>
            </div>
            <br />
            <div style="margin-top: 20px; ">
                <span class="code-title">
                    CÓDIGO
                </span>
            </div>
            <div style="margin-top: 25px;">
                <span class="alert-success" style="font-size: 30px;">
                    @Model.Phrase.ToUpper()
                </span>
            </div>

        </div>

        <div class="foot">
            *@Model.Comments
        </div>

        <div style="margin: 20px;">
            <a class="btn btn-primary" asp-action="List" asp-controller="PieDetail" >¡Empezar a Comprar!</a>
        </div>
    </div>
</div>