<div *ngIf="catering">
  <mat-list>
    <mat-list-item *ngFor="let item of catering.items">
      <mat-icon color="primary" mat-list-icon (tap)="onDecrement(item.item.productId)">arrow_drop_down</mat-icon>
      <mat-icon color="primary" mat-list-icon (tap)="onIncrement(item.item.productId)">arrow_drop_up</mat-icon>
      <p mat-line>
        {{ item.itemCount === 1 ? '' : item.itemCount }} {{ item.item.displayName }} (${{ item.item.price }} c/u)
      </p>
      <!-- <p mat-line>
        <i class="material-icons">arrow_drop_down</i>
        <i class="material-icons" >arrow_drop_up</i>
      </p> -->
      <div class="subtotal">
        <div class='price'><strong>${{ item.subTotal }}</strong></div>
        <div class='priceInStore' *ngIf="item.subTotal < item.subTotalInStore"><small>${{ item.subTotalInStore }}</small></div>
      </div>
    </mat-list-item>
  </mat-list>
</div>

