<div *ngIf="catering">
  <mat-list>
    <h3 mat-subheader>Items</h3>
    <mat-list-item *ngFor="let item of catering.items">

      <mat-icon color="primary" mat-list-icon>folder</mat-icon>
        <h4 mat-line>
          {{ item.item.displayName }} (${{ item.item.price }} c/u)
        </h4>
      <p mat-line>
        <span class="arrow">-</span>
        <span>{{ item.itemCount }}</span>
        <span class="arrow">+</span>
      </p>
      <div class="subtotal">
        <div class='price'><strong>${{ item.subTotal }}</strong></div>
        <div class='priceInStore' *ngIf="item.subTotal < item.subTotalInStore"><small>${{ item.subTotalInStore }} c/u</small></div>
      </div>
    </mat-list-item>
  </mat-list>
</div>

