<mat-list>
    <h3 mat-subheader>Folders</h3>
    <mat-list-item>
      <mat-icon mat-list-icon>folder</mat-icon>
      <h4 mat-line>Tarta de jamón y queso</h4>
      <p mat-line>Bla bla bla</p>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>folder</mat-icon>
      <h4 mat-line>Lorem Impsubm Ammeneur</h4>
      <p mat-line> Staff to test </p>
    </mat-list-item>
    <mat-list-item>
      <mat-icon color="primary" mat-list-icon>folder</mat-icon>
      <h4 mat-line>
        This is a test is a test is a test is a test
      </h4>
      <p mat-line>
        <span style="margin-bottom: 5px;" >Cantidad </span>
      </p>
      <p mat-line>
        <span class="arrow">-</span>
        <span>18</span>
        <span class="arrow">+</span>
      </p>
      <div class="subtotal">
        <div class='price'><strong>$350</strong></div>
        <div><small>$150 c/u</small></div>
        <div class='priceInStore'><small>$180 c/u</small></div>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
</mat-list>
