.container {
    background-color: white;
}

h1 {
    font-family: 'Playball';
    font-size: 60px;
    margin-top: 0px;
    padding-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}

mat-card {
    max-width: 340px;
}

mat-grid-list {
    max-width: 930px;
    margin: auto;
    padding: 30px;
    mat-grid-tile {
        p {
            font-size: 0.9em;
        }
        p.story {
            text-align: center;
            padding: 30px;
            font-size: 1.06em;
        }
    }
}
.mobile {
    max-width: 360px;
}

mat-grid-tile {
    min-width: 375px;
}