<app-logo-header [header]="'Agendar celular'"></app-logo-header>
<div class="form-container" *ngIf="user">
    <mat-card>

      <mat-card-content [@moveInLeft]="state">
        {{ user.firstName }}, para que puedas aprovechar nuestros descuentos con reservas online necesitamos que nos digas tu teléfono actual.
        Tu teléfono nos sirve para comunicarnos con vos, y avisarte cuando el pedido está listo para la entrega.
      </mat-card-content>
      
    <mat-vertical-stepper linear>
        <mat-step [stepControl]="mobileForm" editable="false">
          <ng-template matStepLabel>Teléfono celular</ng-template>
          <form [formGroup]="mobileForm">
            <mat-form-field>
              <mat-label>País</mat-label>
              <mat-select color="primary" #fontSize value="54" formControlName="country" >
                <mat-option value="54">Argentina (+54)</mat-option>
                <mat-option value="55">Brasil (+55)</mat-option>
                <mat-option value="64">New Zealand (+64)</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Teléfono</mat-label>
              <input matInput placeholder="11 2777 8899" formControlName="mobile" name="tel" required/>
            </mat-form-field>
            <div><small>Si tu teléfono empieza con 15 y no te llega el mensage, prueba con 11.</small></div>
            <div>
              <br />
              <button mat-raised-button matStepperNext (click)="sendCodeToNumber()" color="primary" [disabled]="!mobileForm.valid">¡Validar!</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="codeForm">
          <ng-template matStepLabel>Confirmación de celular</ng-template>
          <form [formGroup]="codeForm">
            <mat-card-content *ngIf='!codeSent && codeSubmitted'>
              Enviando sms...
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </mat-card-content>
            <mat-card-content *ngIf='codeSent'>
              Por favor revisa tu celular e ingresa el código que te enviamos.
              <mat-form-field>
                <input matInput type="number" step="1" min="1000" max="9999" placeholder="Código de Validación" formControlName="code" required>
              </mat-form-field>
            </mat-card-content>
          </form>
        </mat-step>
      </mat-vertical-stepper>      
    </mat-card>
  </div>
