<div class="header">
    <h2>Catering Personalizado</h2>
    <img src='../../../../assets/images/logoRepo.PNG'>
</div>

<div class='form-container'>
    <div class="form-content">
        <mat-progress-bar mode="indeterminate" *ngIf="loading$ | async"></mat-progress-bar>
        <mat-card>
            <mat-card-header>
                <div class='header-text'>
                    <app-new-catering-subtotal-header [catering]='catering$ | async'></app-new-catering-subtotal-header>
                </div>
            </mat-card-header>
            <app-autocomplete-items [items]='items$ | async' (addItem)="addItem($event)" ></app-autocomplete-items>
            <app-selected-items-table 
                [catering]='catering$ | async' [items]='items$ | async'
                (addItem)="addItem($event)" (removeItem)="removeItem($event)">
            </app-selected-items-table>
            
            <button mat-raised-button color="primary" routerLink="/cart">Finalizar</button>
        </mat-card>
    </div>
</div>