.gallery-div {
    font-family: 'Playball';
}

.gallery {
    margin: 25px;
}

    .gallery:hover > .li {
        opacity: 0.5;
    }

    .gallery .li {
        transition: all .2s ease-in-out;
    }

        .gallery .li img {
            transition: all .2s ease-in-out;
            padding: 5px;
        }

            .gallery .li img:hover {
                transform: scale(1.05, 1.05);
            }

        .gallery .li:hover {
            opacity: 1;
            cursor: -webkit-zoom-in;
            cursor: -moz-zoom-in;
        }

            .gallery .li:hover > .li {
                box-shadow: 1px 1px 1px 5px #a1e699;
            }

.lightbox {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    display: none;
    cursor: -webkit-zoom-out;
    cursor: -moz-zoom-out;
    z-index: 1;
}

@media screen and (max-width: 768px) {
    .lightbox {
        padding: 15px;
    }
}

@media screen and (min-width: 768px) {
    .lightbox {
        padding: 75px;
    }
}

.lightbox figure {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    white-space: no-wrap;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
