@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

.middle, .go-here {
    position: relative;
    height: 30em;
}

.fa-circle {
    color: #883636;
}

.arrow-down {
    color: white;
}

    .arrow-down:hover {
        color: #ffbdbd;
    }

    .arrow-down .fa-stack {
        -webkit-animation: bounce 2s infinite;
        animation: bounce 2s infinite;
    }



@media screen and (max-width: 680px) {
    .arrow-down {
        font-size: smaller;
    }

    .arrow-up {
        font-size: smaller;
    }
}
