.full-date {
    margin: 1px auto;
    width: 110px;
    font-family: Arial;
    text-align: center;
    padding: 5px;
    z-index: 1;
}

    .full-date .calendar {
        border-color: #878787;
        border-style: solid;
        border-width: 1.2px;
        border-radius: 3px;
        background: linear-gradient(to bottom right, #fcffc9 0%, #fff6e4 100%);
        box-shadow: 2px 2px #888888;
    }

        .full-date .calendar .month {
            background: linear-gradient(to bottom right, #f98d8d 10%, #A00 100%);
            color: white;
            font-size: larger;
            padding-top: 2px;
            padding-bottom: 2px;
        }

        .full-date .calendar .day {
            font-size: xx-large;
            padding: 2px;
        }

    .full-date .time {
        margin-top: 5px;
        font-size: larger;
        background-color: white;
        background: #188f00;
        background: linear-gradient(to bottom right, #fff 0%, #ffebeb 100%);
        padding: 2px;
        border-style: solid;
        border-width: 1px;
        border-radius: 5px;
        box-shadow: 2px 2px #888888;
    }

/*****************************/
