.frame-square {
    width: 100%;
    height: 200px;
}

.crop {
    height: 100%;
    overflow: hidden;
    position: relative;
    border-style: solid;
    border-color: #907d7d33;
    border-width: medium;
    border-radius: 5px;
}

    .crop img {
        width: 100%;
        display: block;
        min-width: 100%;
        min-height: 100%;
        margin: auto;
        position: absolute;
        top: -100%;
        right: -100%;
        bottom: -100%;
        left: -100%;
    }

.fa.fa-star {
    color: goldenrod;
    margin-left: 5px;
    margin-right: 5px;
}

.caption h3 {
    font-family: 'Playball', cursive;
    color: forestgreen;
    text-align: center;
}

    .caption h3 a {
        color: forestgreen;
    }

        .caption h3 a:visited, a:hover, a:focus, a:hover, a:active {
            text-decoration: none;
            color: forestgreen;
        }


p.shortDesc {
    font-size: large;
    text-align: center;
    color: darkslategrey;
    height: 50px;
    overflow: hidden;
}

.pieOverviewImage {
    position: relative;
    margin: 15px;
    overflow: hidden;
}

    .pieOverviewImage img {
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

    .pieOverviewImage:hover img {
        -moz-transform: scale(1.05);
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }

    .pieOverviewImage div.link-detail {
        color: darkslategrey;
    }

.thumbnail {
    padding: 0;
    background-color: #ecebc1;
    border-color: #788836
}

    .thumbnail.pieoftheweek {
        background-color: #ecebc1;
    }


.caption {
    margin-top: -5px;
    height: 80px;
    overflow: hidden;
}

    .caption h4 {
        white-space: nowrap;
    }

    .caption h3 {
        background-color: #ffffff75;
        margin-top: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 3px;
        color: black;
    }



/*Ribbon*/

.ribbon {
    position: absolute;
    left: 6px;
    top: -9px;
    z-index: 1;
    overflow: hidden;
    width: 150px;
    height: 150px;
    text-align: right;
}

    .ribbon span {
        font-size: 18px;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        line-height: 40px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        width: 120px;
        display: block;
        background: #008000;
        background: linear-gradient(#47a952 0%, #008000 100%);
        box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
        position: absolute;
        top: 13px;
        left: -27px;
    }

        .ribbon span::before {
            content: "";
            position: absolute;
            left: 0px;
            top: 100%;
            z-index: -1;
            border-left: 3px solid #078408;
            border-right: 3px solid transparent;
            border-bottom: 3px solid transparent;
            border-top: 3px solid #078408;
        }

        .ribbon span::after {
            content: "";
            position: absolute;
            right: 0px;
            top: 100%;
            z-index: -1;
            border-left: 3px solid transparent;
            border-right: 3px solid #078408;
            border-bottom: 3px solid transparent;
            border-top: 3px solid #078408;
        }
