<div class="container">

    <div class="catering-header">
        <h1>Catering</h1>
        Echale un vistazo a nuestros deliciosos menúes que podemos preparar para tu evento o... ¡Armátelo vos!
        Normalmente nosotros recomendamos entre 10 y 12 bocados por comensal, dependiendo de cuánto dure la celebración.
    </div>
    
    <button mat-fab color="accent" (click)="slickModal.slickPrev()" class="arrow arrow-left">
        <mat-icon aria-label="">arrow_back_io</mat-icon>
    </button>          
    
    <button mat-fab color="accent" (click)="slickModal.slickNext()" class="arrow arrow-right">
        <mat-icon aria-label="">arrow_forward_io</mat-icon>
    </button>
    
    <ngx-slick class="accent" #slickModal="slick-modal" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let catering of caterings$ | async" class="slide">
            <app-catering-option [catering]="catering" (addCatering)="addCatering($event)" (copyCatering)="copyCatering($event)"></app-catering-option>
        </div>
    </ngx-slick>
    
</div>