
<div class="container">
    <app-loading-blocker [saving]="copying"></app-loading-blocker>
    <app-title [title]="'Catering'"></app-title>
    <div class='intro'>
        <br>
        <!-- <app-caterings-carousel-shell (viewCaterings)="goTo('caterings-scroller')"></app-caterings-carousel-shell> -->
    </div>

    <div class='options'>
        <mat-card [ngStyle]="{'margin': 'auto', 'max-width': '300px'}" *ngIf="!(loaded$ | async)">
            <div [ngStyle]="{'text-align': 'center'}">Cargando caterings </div>
            <mat-spinner [ngStyle]="{'margin': '5px auto'}" [diameter]="50"></mat-spinner>

        </mat-card>
        <div id="caterings-scroller"></div>
        <div [ngClass]="!(loaded$ | async) ? 'hidden' : ''" class="arrows">
            <button mat-icon-button (click)="slickPrev()" class="arrow arrow-left">
                <mat-icon aria-label="">arrow_back</mat-icon>
            </button>          
            <div class="spacer">
                <div class="p">
                    <div class="text">Desliza para más opciones</div>
                </div>
            </div>
            <button mat-icon-button (click)="slickNext()" class="arrow arrow-right" id="next">
                <mat-icon aria-label="">arrow_forward</mat-icon>
            </button>
        </div>
        <div class='slick-carousel'>
            <ngx-slick class="accent" #slickModal="slick-modal" [config]="slideConfig" id='slick-carousel'>
                <app-catering-option ngxSlickItem *ngFor="let catering of caterings" class="slide"
                [catering]="catering" (addCatering)="addCatering($event)" (copyCatering)="copyCatering($event)"
                (next)="slickNext()" (prev)="slickPrev()">
                </app-catering-option>
            </ngx-slick>
        </div>
    </div>
</div>