// @import "~materialize-css/sass/materialize.scss";
@import url('//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css');
@import url('//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css');

.container {
    .catering-header {
        max-width: 80%;
        margin: auto;
    }
    h1 {
        margin-top: 0;
        padding-top: 20px;
    }

}

ngx-slick {
    z-index: 1;
}

.arrow {
    position: fixed;
    top: 40%;
    bottom: 60%;
    z-index: 2;
}
.arrow-left {
    left: 5px;
}
.arrow-right {
    right: 5px;
}

.catering-header {
    text-align: center;
}

.hidden {
    display: none;
}