@import url('//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css');
@import url('//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css');

.container {
    text-align: center;
    width: 100%;
    h1 {
        margin: 50px auto;
        text-align: center;
    }
    .intro {
        max-width: 80%;
        margin: auto;
        padding-bottom: 20px;
    }
    .options {
        // background-color: white;
    }
    .slick-carousel {
        padding-bottom: 30px;
    }
}

ngx-slick {
    z-index: 1;
}
.arrows {
    display: flex;
    background-color: #c74646;
    color: papayawhip;
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 5px;
    .spacer {
        flex: 1;
        .p {
            display: table;
            height: 100%;
            width: 100%;
            .text{
                text-align: center;
                display: table-cell;
                vertical-align: middle;
                margin: 10px;
            }
        }
    }
    .arrow-left, .arrow-right {
        margin: 5px;
    }
}

.catering-header {
    text-align: center;
}

.hidden {
    display: none;
}