@import "../../../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
.container {
    background-color: white;
    text-align: center;
    // clip-path: polygon(0 0, 100% 0, 100% 100%, 0 93%);
    padding-bottom: 100px;
    h1 {
        margin-top: 0;
        padding-top: 50px;
        text-align: center;
        font-family: 'Playball';
        font-size: 60px;
    }
}
i {
    margin-right: 5px;
}

.chip-container {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 25px;
    mat-chip-list {
        margin: auto;
        text-align: center;
        mat-chip {
            margin: 10px auto;
        }
        img {
            max-width: 25px;
            max-height: 25px;
            padding-right: 10px;
        }
    }
}
