<div class="container">
  <div>
  <h1 #contact>Contacto</h1>
  <p>
    ¡Encontranos en cualquiera de estos medios!
  </p>
  <div class='chip-container'>
    <mat-chip-list>
        <mat-chip (tap)="open('https://api.whatsapp.com/send?phone=5491127778899')" color="primary" selected>
          <i class="fab fa-whatsapp"></i>
          11 2777 8899
        </mat-chip>
        <mat-chip (tap)="open('tel:+5491149250262')" color="primary" selected>
          <i class="fas fa-phone"></i>
          4925 0262
        </mat-chip>
        <mat-chip (tap)="open('https://www.facebook.com/ReposteriaDeLasArtes')" color="primary" selected>
          <i class="fab fa-facebook-square"></i>
          /ReposteriaDelasArtes
        </mat-chip>
        <mat-chip (tap)="open('https://m.me/ReposteriaDeLasArtes/')" color="primary" selected>
          <i class="fab fa-facebook-messenger"></i>
          /ReposteriaDeLasArtes
        </mat-chip>
        <mat-chip (tap)="open('https://www.instagram.com/ReposteriaDeLasArtes')" color="primary" selected>
          <i class="fab fa-instagram"></i>
          @ReposteriaDelasArtes
        </mat-chip>
        <mat-chip (tap)="open('mailto:info@delasartes.com.ar')" color="primary" selected>
          <i class="fas fa-envelope"></i>
          info@delasartes.com.ar
        </mat-chip>
    </mat-chip-list>
  </div>

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d40509.165163836115!2d-58.42386838681868!3d-34.620141749222064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x36138e4afdfc67e8!2sDe+las+Artes!5e0!3m2!1sen!2snz!4v1503363586219" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
</div>