<div>
  <mat-dialog-content>
    <h5 class='title'>{{ data.product.displayName }}</h5> 
    <div class='counter'>
      
      <button mat-mini-fab color="primary" (click)="removeFromCart()">
        <mat-icon>arrow_left</mat-icon>
      </button>
      <button mat-mini-fab color="default" >{{ data.amount }}</button>
      <button mat-mini-fab color="primary" (click)="addToCart()">
        <mat-icon>arrow_right</mat-icon>
      </button>
    </div>
  </mat-dialog-content>
</div>

<!-- <a mat-mini-fab routerLink=".">Link</a> -->