@model IEnumerable<PieDetail>
<style>
    .all-products {
        /*font-family: Arial;*/
    }

        .all-products table {
            width: 100%;
        }
</style>

<div class="container all-products">
    <h2>
        Todos los productos
        <a asp-controller="PieDetail" asp-action="Create" class="btn btn-primary">Crear producto</a>
    </h2>
    <div id="allProducts-div">
        <table id="allProducts" class="display nowrap dataTable dtr-inline collapsed" cellspacing="0" role="grid">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Fotos</th>
                    <th>Activo</th>
                </tr>
            </thead>
            <tbody id='allProducts-tbody'>
                @foreach(var pieDetail in Model.OrderBy(x => x.Name.TrimStart()).OrderBy(x => !(x.FlickrAlbumId > 0)).OrderBy(x => !x.IsActive))
                {
                <tr>
                    <td>
                        <a asp-action="EditPieDetail" asp-controller="Admin" asp-route-id="@pieDetail.PieDetailId">
                            @pieDetail.Name
                        </a>
                    </td>
                    @{ var photos = pieDetail.FlickrAlbumId > 0 ? "fa-check" : "fa-times"; }
                    <td><span class="fa @photos"></span></td>
                    @{ var active = pieDetail.IsActive ? "fa-check" : "fa-times"; }
                    <td><span class="fa @active"></span></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#allProducts').DataTable({
            "language": {
                "url": "/Scripts/SpanishDatatables.json"
            },
            "aaSorting": [],
            "pageLength": 250
        });
    });

</script>