@model Pie

<style>
    .edit-pie-detail {
        /*font-family: Arial;*/
    }

        .edit-pie-detail table {
            width: 100%;
        }

</style>
<div class="container edit-pie-detail">
    <h2>Editar <a href="/Admin/EditPieDetail/@Model.PieDetailId">@Model.PieDetail.Name @Model.Name</a></h2>

    <form asp-controller="Admin" asp-action="EditPie" method="post" class="form-horizontal" role="form">
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group" hidden="hidden">
            <label asp-for="PieDetailId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PieDetailId" class="form-control" />
                <span asp-validation-for="PieDetailId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group" hidden="hidden">
            <label asp-for="PieId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PieId" class="form-control" />
                <span asp-validation-for="PieId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" maxlength="20" placeholder="Grande / Chica / Grande Almendras / etc.."/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StorePrice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="StorePrice" class="form-control"  />
                <span asp-validation-for="StorePrice" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SizeDescription" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SizeDescription" class="form-control" maxlength="20" placeholder="¿Cuántas porciones / personas?"  />
                <span asp-validation-for="SizeDescription" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="IsActive" class="col-md-2 control-label"></label>
            <div class="col-md-1">
                <input asp-for="IsActive" class="form-control" />
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-primary" value="Guardar" />
            </div>
        </div>
    </form>
</div>