.navbar-fixed {
    top: 0;
    position: fixed;
    z-index:999;
    background-color: #883636;
    width: 100%;
    padding-right: 0px;
    overflow-x: hidden;
  }
  .icon {
    margin-left: 20px;
    margin-right: 20px;
      cursor: pointer;
  }
  .home-button{
    margin-right: 10px;
  }
    
    .spacer {
      flex: 1 1 auto;
    }

    app-admin-gear {
      padding-right: 10px;
    }