@model IEnumerable<Order>

<style>
    .container {
        /*font-family: Arial;*/
    }
    .container {
        /*font-family: Arial;*/
    }
</style>

<div class="container">
    <h2>Todos los Pedidos</h2>
</div>

@await Html.PartialAsync("~/Views/Order/OrdersTable.cshtml", Model)