@model IEnumerable<Order>

<link href="~/Content/Order/Cancelled.css" rel="stylesheet" />

<div class="container">
    <h2>Pedidos cancelados</h2>
</div>

@Html.Partial("~/Views/Order/OrdersTable.cshtml", Model)