<div class="container">
    <h2>Pedidos</h2>
    <div id='orders-div' style='display:none;' class='dataTables_wrapper'>
        <table id="orders-table" class="display nowrap dataTable dtr-inline collapsed" cellspacing="0" role="grid" style="width: 100%;">
            <thead>
                <tr>
                    <th>Reserva</th>
                    <th></th> @*status*@
                    <th>Creado</th>
                    <th>Acreditacion</th> @*date*@
                    <th>Plazo (hs)</th>
                    <th>Entrega</th> @*date*@
                    <th>Retirado</th>
                    <th>Monto</th>
                </tr>
            </thead>
            <tbody id='orders-table-tbody'></tbody>
        </table>
    </div>
    <div id='orders-error' style='display:none;'>
        <h2>
            Esta pagina no esta disponible.
        </h2>
    </div>
</div>
    <script type="text/javascript">
        $(document).ready(function () {
            getOrders();
        });

        function getOrders() {
            var url = "/api/PaymentData/Management";
            $.ajax({
                url: url,
                method: "GET",
                success: onSuccess,
                error: function (error) {
                    console.log(error);
                    $('#locations-error').show();
                }
            });
        }

        function onSuccess(data) {
            $.each(data, function (index, item) {
                $('#orders-table-tbody').append(getRow(item));
            });
            $('#orders-table').DataTable({
                initComplete: function () {
                    this.api().columns([1]).every(function () {
                        var column = this;
                        var select = $('<select><option value="">Estado (todos)</option></select>')
                            .appendTo($(column.header()))
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );
                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });
                },
                "order": [[2, "desc"]],
                "aoColumns": [
                    null,
                    {
                        "bSortable": false
                    },
                    null,
                    null,
                    null,
                    null,
                    null,
                    null
                ]
            });
            $('#orders-div').parent().css('overflow', 'auto');
            $('#orders-div').css('width', '100%');
            $('#orders-div').show();
        }

        function getRow(item) {
            var row = $('<tr>');
            row.append('<td><a href="Detail/' + item.orderId + '">' + item.bookingId + '</a></td>');
            row.append('<td>' + statusCode2DisplayValue(item.status) + '</td>');
            row.append('<td>' + formatDate(item.orderPlaced) + '</td>');
            row.append('<td>' + formatDate(item.payout) + '</td>');
            row.append('<td>' + item.preparationTime + '</td>');
            row.append('<td>' + formatDate(item.pickUp) + '</td>');
            row.append('<td>' + (item.pickedUp ? 'Si' : 'No') + '</td>');
            row.append('<td>' + item.orderTotal + '</td>');
            return row;
        }
    </script>
