@model IEnumerable<Order>

<link href="~/Content/Order/PickedUp.css" rel="stylesheet" />

<div class="container">
    <h2>Pedidos completados y entregados</h2>
</div>

@Html.Partial("~/Views/Order/OrdersTable.cshtml", Model)