@model IEnumerable<Order>

<link href="~/Content/Order/Refunded.css" rel="stylesheet" />

<div class="container">
    <h2>Pedidos que se devolvió el dinero</h2>
</div>

@Html.Partial("~/Views/Order/OrdersTable.cshtml", Model)