@model IEnumerable<Order>

<link href="~/Content/Order/Returned.css" rel="stylesheet" />

<div class="container">
    <h2>Pedidos entregados que fueron devueltos</h2>
</div>

@Html.Partial("~/Views/Order/OrdersTable.cshtml", Model)