.products {
    display: inline;
}
mat-progress-bar, mat-spinner {
    width: 60%;
    margin: 100px auto;
}

.product-shell {
    text-align: center;
    padding-bottom: 80px;
}

.even-more {
    text-align: center;
}

mat-card {
    max-width: 600px;
    margin-top: 25px;
    margin: auto;
}