<app-logo-header [header]="'Delicias con fotos'"></app-logo-header>
<div class='product-shell'>
    <div *ngIf="items$ | async as products">
        <mat-spinner *ngIf="!products.length"> </mat-spinner>
        <div *ngFor="let product of products" class='products'>
            <app-product-preview *ngIf="product.flickrAlbumId" [product]="product">
            </app-product-preview>
        </div>
        <mat-card *ngIf="products.length">

            <div class="even-more" >
                <h3>¿Te quedaste con ganas de más?</h3>
                <button mat-button routerLink="/all-items"><h1>¡Fijate nuestro catálogo completo!</h1></button>
                <h2>Más de 100 delicias que podés comprar</h2>
                <button mat-raised-button color="primary" routerLink="/all-items">¡Quiero ver!</button>
            </div>
        </mat-card>
    </div>
</div>