.products {
    display: inline;
}
mat-progress-bar, mat-spinner {
    width: 60%;
    margin-bottom: 80px;
    margin: 100px auto;
}

.product-shell {
    text-align: center;
}

.even-more {
    text-align: center;
}

mat-card {
    padding-top: 30px;
    margin: auto;
    background-color: papayawhip;
}

button.view-more {
    font-size: 1.4em;
}