<div id='top'></div>
<!-- <app-logo-header [header]="'Productos con fotos'"></app-logo-header> -->
<app-title [title]="'Dulces'"></app-title>
<div class='product-shell'>
    <div *ngIf="items$ | async as products">
        <mat-spinner *ngIf="!products.length"> </mat-spinner>
        <div *ngFor="let product of products" class='products'>
            <app-product-preview *ngIf="product.flickrAlbumId" [product]="product">
            </app-product-preview>
        </div>
        <div [ngStyle]="{'height':'30px'}"></div>
        <mat-card >

            <div class="even-more" >
                <h3>¿Querés más?</h3>
                <div>Más de 150 delicias</div>
                <br>
                <button mat-raised-button color="primary" routerLink="/all-items">¡Quiero ver!</button>
            </div>
        </mat-card>
    </div>
</div>