section.container {
    padding-top: 0px;
}

h1, h2 {
    text-align: center;
}

#allAlbums {
    margin: 5px;
}

    #allAlbums .slick-arrow:before {
        color: #883636;
    }


@media screen and (max-width: 680px) {
    .intro-message {
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .arrow-up {
        font-size: smaller;
    }
}


#photosfilter-mobile {
    text-align: center;
}

    #photosfilter-mobile div {
        display: inline-block;
        background-color: #ffffff;
        margin: 2px;
        padding: 4px;
        padding-left: 8px;
        padding-right: 8px;
        border-radius: 2px;
    }

.photosfilter a {
    color: #883636;
    font-size: large;
}

    .photosfilter a:visited {
        color: 883636;
    }

    .photosfilter a:hover {
        color: black;
    }

    .photosfilter a:active {
        color: black;
        text-decoration: underline;
    }

/*************************/
