section.container {
    padding-top: 0px;
}
/*************************/
h1, h2 {
    text-align: center;
}

#allAlbums {
    background-color: #dbe9d8;
    border-radius: 5px;
}





@media screen and (max-width: 680px) {
    .intro-message {
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .arrow-up {
        font-size: smaller;
    }
}

#leftpanel .photosfilter {
    background-color: #dbe9d8;
    border-radius: 5px;
    padding: 15px;
}

#photosfilter-mobile {
    text-align: center;
}

    #photosfilter-mobile div {
        display: inline-block;
        background-color: #a1e699;
        margin: 2px;
        padding: 4px;
        padding-left: 8px;
        padding-right: 8px;
        border-radius: 2px;
    }

.photosfilter a {
    color: #2a7016;
}

    .photosfilter a:visited {
        color: green;
    }

    .photosfilter a:hover {
        color: black;
    }

    .photosfilter a:active {
        color: black;
        text-decoration: underline;
    }

/*************************/
