.card {
  width: 350px;
  display: inline-block;
  text-align: center;
  margin: 5px;
  padding-left: 0px;
  padding-right: 0px;
}
  .header-text {
    width: 100%;
  }
  .footer {
    margin: 10px;
  }
  
    mat-card-subtitle {
      height: 50px;
    }