<mat-card class="card">
  <div class="header-text">
    <mat-card-title >{{ product.name }}</mat-card-title>
  </div>
  <app-product-carousel-preview *ngIf="product.flickrAlbumId" [albumId]="product.flickrAlbumId"></app-product-carousel-preview>
  <div class="footer">
    <mat-card-content>
      <p> {{ product.shortDescription }} </p>
    </mat-card-content>
    <mat-card-subtitle>{{ product.ingredients }}</mat-card-subtitle>
  </div>
  <mat-card-actions>
    <button mat-raised-button (click)="chooseProduct()" color="primary">Ver</button>
  </mat-card-actions>
</mat-card>