.container {
    font-family: 'Noto Serif';
    font-size: 0.8em;
}
.link {
    text-decoration: none;
    text-underline-position: unset;
    color: gray;
}
.link:visited {
    text-decoration: none;
    color: gray;
}