.loader {
    width: 100%;
    mat-spinner {
        text-align: center;
        margin: auto;
    }
}
.container {
    text-align: center;
}
section {
    max-width: 800px;
    margin: auto;
    // height: 450px;
    // overflow: auto;
    mat-form-field {
        width: 100%;
    }
    table {
        width: 100%;
        td {
            // min-width: 130px;
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }
}

.icon {
    color: goldenrod;
    margin: auto;
}

.mat-column-action {
    min-width: 200px;
  }

.buyButton {
    margin: 10px auto;
    text-align: center;  
}
.hidden {
    display: none;
}