
section {
    max-width: 600px;
    margin: auto;
    table {
        width: 100%;
    }
}

.icon {
    color: goldenrod;
    margin: auto;
}

.mat-column-action {
    min-width: 200px;
  }

.buyButton {
    margin: 10px auto;
    text-align: center;  
}