.loader {
    width: 100%;
    mat-spinner {
        text-align: center;
        margin: auto;
    }
}
.container {
    text-align: center;
}
section {
    max-width: 800px;
    margin: auto;
    mat-form-field {
        width: 100%;
    }
    table {
        width: 100%;
    }
}

.icon {
    color: goldenrod;
    margin: auto;
}

.mat-column-action {
    min-width: 200px;
  }

.buyButton {
    margin: 10px auto;
    text-align: center;  
}