<div class="loader">
  <mat-spinner *ngIf="!items.length"> </mat-spinner>
</div>
<h5>Podés buscar el postre que te gusta por nombre, o por ingrediente</h5>
<h5>¡Tenemos más de 100 delicias!</h5>
<section [ngClass]="items && items.length ? '' : 'hidden'">
  <mat-form-field *ngIf="items && items.length">
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Banana / Dulce de leche / Chocolate"
      autocorrect="off" spellcheck="off" autocapitalize="off" autocomplete="off"
    >
  </mat-form-field>
  
  <div class="container" >


    <table mat-table [dataSource]="dataSource">
      
      <ng-container matColumnDef="displayName">
        <th mat-header-cell *matHeaderCellDef > Productos </th>
        <td mat-cell *matCellDef="let element">
          <div><strong>{{ element.displayName }}</strong></div>
          <div>
            <span [ngStyle]="{'text-transform':'lowercase'}">{{ element.displayDescription }} ({{ element.category == 'Lunch' ? 'Catering' : element.category }})</span>

            <app-soonest-pickup [soonestPickup]="element.preparationTime" ></app-soonest-pickup>
            <br>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef > </th>
          <td mat-cell *matCellDef="let element">
            <div>
              <app-product-price [price]="element.price" [priceInStore]="element.priceInStore"></app-product-price>
            </div>
            <div>
              <small>
                <strong [ngStyle]="{'color':'gray', 'font-size':'smaller'}">Porciones: {{ element.portions }}</strong>
              </small>
            </div>
            <div class='buyButton'>
                <button mat-mini-fab color="primary" (click)="addToCart(element.productId)">
                  <mat-icon aria-label="">add_shopping_cart</mat-icon>
                </button>
              </div>
              <small>Agregar</small>
            </td>
        </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
    </table>
    <mat-paginator [pageSizeOptions]="[2, 4, 10, 25, 100]" #paginator [pageSize]='itemsPerPage'></mat-paginator>
  </div>
</section>