<h2>Contactános</h2>
<p>Si tenés alguna pregunta, no dudes en consultarnos.</p>
<email address="info@@lareposteria.com.ar" content="Contacto"></email>
<phone email address="info@@lareposteria.com.ar" content="Contacto"></phone>
<a href="tel:4925-0262">4925-0262</a>
